In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_format
from pyspark.sql import functions as F
from pyspark.sql.functions import datediff, to_date, lit

In [65]:
# Créer une instance de SparkSession
spark = SparkSession.builder \
    .appName("Table maitre") \
    .config("spark.driver.memory", "8g") \
    .config("spark.executor.memory", "8g") \
    .getOrCreate()

In [5]:
# df_statut_connexion2 = spark.read.csv("hdfs://namenode:9000/df_statut_connexion2.csv", header="True", inferSchema="True")
# df_statut_connexion2.write.parquet("hdfs://namenode:9000/historisation_features/statut_connexion/df_statut_connexion2.parquet")

## Lire les features Parquet à partir de HDFS

In [3]:
df_gab_montant = spark.read.parquet("hdfs://namenode:9000/historisation_features/gab/gab_montant_feature.parquet")
df_gab_numoperation = spark.read.parquet("hdfs://namenode:9000/historisation_features/gab/gab_numoperation_feature.parquet")
df_FAC_CANAL_FEATURE = spark.read.parquet("hdfs://namenode:9000/historisation_features/getfac/FAC_CANAL_FEATURE.parquet")
df_getfac_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/getfac/getfac_feature.parquet")
df_getvir_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/getvir/getvir_feature.parquet")
df_VIR_CANAL_FEATURE = spark.read.parquet("hdfs://namenode:9000/historisation_features/getvir/getvir_CANAL_FEATURE.parquet")
df_MONTANT_OPERATIONS_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/operations_agence/MONTANT_OPERATIONS_feature.parquet")
df_NBROPERATION_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/operations_agence/NBROPERATION_feature.parquet")
df_perimetre2 = spark.read.parquet("hdfs://namenode:9000/historisation_features/perimetre/perimetre.parquet")
df_solde_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/solde_feature.parquet")
df_MVTDEB_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/MVTDEB_feature.parquet")
df_NBMVTDB_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/NBMVTDB_feature.parquet")
df_MVTCRED_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/MVTCRED_feature.parquet")
df_NBMVTCRE_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/NBMVTCRE_feature.parquet")
df_statut_connexion2 = spark.read.parquet("hdfs://namenode:9000/historisation_features/statut_connexion/df_statut_connexion2.parquet")
df_hasyousr = spark.read.parquet("hdfs://namenode:9000/historisation_features/yousr/df_hasyousr.parquet")
df_fermcpt2019 = spark.read.parquet("hdfs://namenode:9000//historisation_features/fermcpt/df_fermcpt2019.parquet")
df_fermcpt2020 = spark.read.parquet("hdfs://namenode:9000//historisation_features/fermcpt/df_fermcpt2020.parquet")
df_cptferm2019 = spark.read.parquet("hdfs://namenode:9000//historisation_features/cptferm/df_cptferm2019.parquet")

In [4]:
df_perimetre2 = df_perimetre2.drop("CUSTOMER_SINCE","DATE_NAISSANCE","VILLE")
df_perimetre2.show(5)

+--------+--------------+---+--------+---+--------------+-------------+---------+
|   genre|MARITAL_STATUS|BPR|Idclient|age|CUSTOMER_YEARS|       region|AGE_GROUP|
+--------+--------------+---+--------+---+--------------+-------------+---------+
| Féminin|      Marié(e)|  1|       0| 64|            23|BP Centre Sud|    55-64|
|Masculin|      Marié(e)|  1|       1| 51|            21|BP Centre Sud|    45-54|
| Féminin|      Marié(e)|  1|       2| 70|            45|BP Centre Sud|      65+|
| Féminin|   Celibataire|  1|       3| 51|            17|BP Centre Sud|    45-54|
|Masculin|      Marié(e)|  1|       4| 50|             6|BP Centre Sud|    45-54|
+--------+--------------+---+--------+---+--------------+-------------+---------+
only showing top 5 rows

In [5]:
df_solde_feature.show(5)

+--------+---------+--------------------------+
|Idclient|ANNEEMOIS|MEAN_SOLDE_PREVIOUS_MONTHS|
+--------+---------+--------------------------+
| 0000001|   201904|                  17214.44|
| 0000001|   201907|                 121062.74|
| 0000001|   201910|                 240661.53|
| 0000001|   202001|                 275326.49|
| 0000005|   201904|                       0.0|
+--------+---------+--------------------------+
only showing top 5 rows

In [6]:
df_MVTDEB_feature.show(5)

+--------+---------+---------------------------+
|Idclient|ANNEEMOIS|MEAN_MVTDEB_PREVIOUS_MONTHS|
+--------+---------+---------------------------+
| 0000009|   201904|                      205.5|
| 0000009|   201907|                      49.83|
| 0000009|   201910|                     116.83|
| 0000009|   202001|                     838.86|
| 0000011|   201904|                     138.83|
+--------+---------+---------------------------+
only showing top 5 rows

In [7]:
df_NBMVTDB_feature.show(5)

+--------+---------+----------------------------+
|Idclient|ANNEEMOIS|MEAN_NBMVTDB_PREVIOUS_MONTHS|
+--------+---------+----------------------------+
| 0000001|   201904|                       12.67|
| 0000001|   201907|                       15.67|
| 0000001|   201910|                       14.33|
| 0000001|   202001|                         7.0|
| 0000005|   201904|                         0.0|
+--------+---------+----------------------------+
only showing top 5 rows

In [8]:
df_MVTCRED_feature.show(5)

+--------+---------+----------------------------+
|Idclient|ANNEEMOIS|MEAN_MVTCRED_PREVIOUS_MONTHS|
+--------+---------+----------------------------+
| 0000009|   201904|                         0.0|
| 0000009|   201907|                         0.0|
| 0000009|   201910|                      166.67|
| 0000009|   202001|                     3516.67|
| 0000011|   201904|                         0.0|
+--------+---------+----------------------------+
only showing top 5 rows

In [9]:
df_NBMVTCRE_feature.show(5)

+--------+---------+-----------------------------+
|Idclient|ANNEEMOIS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|
+--------+---------+-----------------------------+
| 0000001|   201904|                         3.33|
| 0000001|   201907|                         4.67|
| 0000001|   201910|                         1.67|
| 0000001|   202001|                         1.33|
| 0000005|   201904|                          0.0|
+--------+---------+-----------------------------+
only showing top 5 rows

In [10]:
df_getfac_feature.show(20)

+--------+---------+-------------------+
|Idclient|ANNEEMOIS|MEAN_MONTANTFACTURE|
+--------+---------+-------------------+
| 0000063|   201904|              202.0|
| 0000063|   201907|             202.33|
| 0000063|   201910|              341.0|
| 0000063|   202001|              229.0|
| 0000095|   201904|              96.33|
| 0000095|   201907|               43.0|
| 0000095|   201910|              139.0|
| 0000095|   202001|             112.33|
| 0000265|   201904|                0.0|
| 0000265|   201907|              96.33|
| 0000265|   201910|              146.0|
| 0000265|   202001|             132.67|
| 0000590|   201904|              425.0|
| 0000590|   201907|             431.33|
| 0000590|   201910|             358.67|
| 0000590|   202001|                0.0|
| 0000737|   201904|              169.0|
| 0000737|   201907|              103.0|
| 0000737|   201910|            1514.67|
| 0000737|   202001|             231.33|
+--------+---------+-------------------+
only showing top 20 rows

In [11]:
df_FAC_CANAL_FEATURE.show(5)

+--------+---------+------+
|Idclient|ANNEEMOIS| CANAL|
+--------+---------+------+
| 0485328|   201908|MOBILE|
| 0374751|   201901|MOBILE|
| 0605247|   201912|MOBILE|
| 0993639|   201911|   WEB|
| 0823957|   201912|MOBILE|
+--------+---------+------+
only showing top 5 rows

In [12]:
df_getvir_feature.show(5)

+--------+---------+--------------------+
|Idclient|ANNEEMOIS|MEAN_MONTANTVIREMENT|
+--------+---------+--------------------+
| 0000032|   201904|                 0.0|
| 0000032|   201907|                 0.0|
| 0000032|   201910|             14000.0|
| 0000032|   202001|              333.33|
| 0000055|   201904|                 0.0|
+--------+---------+--------------------+
only showing top 5 rows

In [13]:
df_VIR_CANAL_FEATURE.show(5)

+--------+---------+------+
|Idclient|ANNEEMOIS| CANAL|
+--------+---------+------+
| 0606130|   201906|   Web|
| 0328251|   201908|   Web|
| 0387108|   201906|   Web|
| 0388535|   201905|   Web|
| 0497354|   201910|Mobile|
+--------+---------+------+
only showing top 5 rows

In [14]:
df_MONTANT_OPERATIONS_feature.show(5)

+--------+---------+---------------------------------------+
|Idclient|ANNEEMOIS|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|
+--------+---------+---------------------------------------+
| 0000001|   201904|                                -2710.0|
| 0000001|   201907|                              122020.67|
| 0000001|   201910|                                3181.33|
| 0000001|   202001|                               33612.02|
| 0000005|   201904|                                    0.0|
+--------+---------+---------------------------------------+
only showing top 5 rows

In [15]:
df_NBROPERATION_feature.show(5)

+--------+---------+---------------------------------+
|Idclient|ANNEEMOIS|MEAN_NBROPERATION_PREVIOUS_MONTHS|
+--------+---------+---------------------------------+
| 0000001|   201904|                             2.33|
| 0000001|   201907|                             3.33|
| 0000001|   201910|                              3.0|
| 0000001|   202001|                              3.0|
| 0000005|   201904|                              0.0|
+--------+---------+---------------------------------+
only showing top 5 rows

# Creation de la table Master

### Join Features Perimetre & Solde

In [4]:
df_master = df_perimetre2.join(df_solde_feature, on="Idclient", how="right")

In [17]:
df_master.orderBy("Idclient","ANNEEMOIS").show(14)

+--------+--------+--------------+---+---+--------------+-------------+---------+---------+--------------------------+
|Idclient|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|       region|AGE_GROUP|ANNEEMOIS|MEAN_SOLDE_PREVIOUS_MONTHS|
+--------+--------+--------------+---+---+--------------+-------------+---------+---------+--------------------------+
| 0000000| Féminin|      Marié(e)|  1| 64|            23|BP Centre Sud|    55-64|   201904|                   1025.33|
| 0000000| Féminin|      Marié(e)|  1| 64|            23|BP Centre Sud|    55-64|   201907|                   1653.37|
| 0000000| Féminin|      Marié(e)|  1| 64|            23|BP Centre Sud|    55-64|   201910|                    441.96|
| 0000000| Féminin|      Marié(e)|  1| 64|            23|BP Centre Sud|    55-64|   202001|                     87.27|
| 0000001|Masculin|      Marié(e)|  1| 51|            21|BP Centre Sud|    45-54|   201904|                  17214.44|
| 0000001|Masculin|      Marié(e)|  1| 51|            21|BP Centre Sud|    45-54|   201907|                 121062.74|
| 0000001|Masculin|      Marié(e)|  1| 51|            21|BP Centre Sud|    45-54|   201910|                 240661.53|
| 0000001|Masculin|      Marié(e)|  1| 51|            21|BP Centre Sud|    45-54|   202001|                 275326.49|
| 0000002| Féminin|      Marié(e)|  1| 70|            45|BP Centre Sud|      65+|   201904|                   5757.81|
| 0000002| Féminin|      Marié(e)|  1| 70|            45|BP Centre Sud|      65+|   201907|                   3536.96|
| 0000002| Féminin|      Marié(e)|  1| 70|            45|BP Centre Sud|      65+|   201910|                       0.0|
| 0000002| Féminin|      Marié(e)|  1| 70|            45|BP Centre Sud|      65+|   202001|                   1253.23|
| 0000003| Féminin|   Celibataire|  1| 51|            17|BP Centre Sud|    45-54|   201904|                   -800.29|
| 0000003| Féminin|   Celibataire|  1| 51|            17|BP Centre Sud|    45-54|   201907|                   -881.56|
+--------+--------+--------------+---+---+--------------+-------------+---------+---------+--------------------------+
only showing top 14 rows

In [92]:
#retourne une liste des noms des colonnes qui contiennent des valeurs nulles ou vides.
#vérifier si les colonnes sont vides ou null
from pyspark.sql.functions import col

def get_null_or_empty_columns(df):
    for column in df.columns:
        nb = df.filter(df[column].isNull()).count()
        # if nb > 0:
        print("-"+str(column)+" null values : "+str(nb))

In [93]:
get_null_or_empty_columns(df_master)

-Idclient null values : 0
-genre null values : 16236
-MARITAL_STATUS null values : 16236
-BPR null values : 16236
-age null values : 16236
-CUSTOMER_YEARS null values : 16236
-region null values : 16236
-ANNEEMOIS null values : 0
-MEAN_SOLDE_PREVIOUS_MONTHS null values : 0

In [5]:
#ce code ajoute des colonnes "genre" et "MARITAL_STATUS" à un DataFrame appelé df_master2. 
#Il remplit ces colonnes avec des valeurs basées sur des conditions et des nombres aléatoires générés par la fonction rand(). 
#Si les colonnes existent déjà dans le DataFrame, les nouvelles valeurs sont mises à jour en fonction des conditions fournies.
from pyspark.sql.functions import when, rand

df_master2 = df_master.withColumn("genre", when(df_master["genre"].isNull(), when(rand() > 0.5, "Masculin").otherwise("Féminin")).otherwise(df_master["genre"]))
df_master2 = df_master2.withColumn("MARITAL_STATUS", when(df_master2["MARITAL_STATUS"].isNull(), when(rand() > 0.5, "Celibataire").otherwise("Marié(e)")).otherwise(df_master2["MARITAL_STATUS"]))
df_master2 = df_master2.withColumn("MARITAL_STATUS", when(df_master2["MARITAL_STATUS"].isNull(), when(rand() > 0.5, "Celibataire").otherwise("Marié(e)")).otherwise(df_master2["MARITAL_STATUS"]))

In [6]:
#ajoute une colonne aléatoire "random" au DataFrame df_master2 et utilise cette colonne pour mettre à jour la colonne "BPR" du DataFrame. 
#Les valeurs spécifiques de la liste BPR_values sont utilisées pour remplacer les valeurs nulles de "BPR" selon les conditions fournies. 
#Enfin, la colonne "random" est supprimée et la valeur '0' dans la colonne "BPR" est remplacée par '1'.
from pyspark.sql.functions import when, rand, floor
BPR_values = [1,17,78,27,48,43,45,50,57,64,81,90,30,40]
n = len(BPR_values)

df_master2 = df_master2.withColumn("random", floor(n*rand()))
for i in range(n):
    df_master2 = df_master2.withColumn("BPR", when((df_master2["BPR"].isNull()) & (df_master2["random"] == i), BPR_values[i]).otherwise(df_master2["BPR"]))

# Supprimer la colonne "random"
df_master2 = df_master2.drop("random")

# Remplacer la valeur 0 par 1
df_master2 = df_master2.withColumn("BPR", when(df_master2["BPR"] == '0', '1').otherwise(df_master2["BPR"]))

In [20]:
#retourne une liste des noms des colonnes qui contiennent des valeurs nulles ou vides.
#vérifier si les colonnes sont vides ou null
from pyspark.sql.functions import col

def get_null_or_empty_columns(df):
    for column in df.columns:
        nb = df.filter(df[column].isNull()).count()
        # if nb > 0:
        print("-"+str(column)+" null values : "+str(nb))

In [97]:
get_null_or_empty_columns(df_master)

-Idclient null values : 0
-genre null values : 16236
-MARITAL_STATUS null values : 16236
-BPR null values : 16236
-age null values : 16236
-CUSTOMER_YEARS null values : 16236
-region null values : 16236
-ANNEEMOIS null values : 0
-MEAN_SOLDE_PREVIOUS_MONTHS null values : 0

In [27]:
# df_master2.describe("ANNEEMOIS","BPR","MEAN_SOLDE_PREVIOUS_MONTHS").show()

In [7]:
df_master2 = df_master2.join(df_MVTDEB_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_NBMVTDB_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_MVTCRED_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_NBMVTCRE_feature, ["Idclient", "ANNEEMOIS"], "inner")

In [102]:
# df_master2.show(20)

In [30]:
# df_getfac_feature.describe().show()
# df_master2.describe().show()

In [31]:
# df_master2_not_in_getfac = df_master2.join(df_getfac_feature, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_master2 qui ne sont pas dans df_getfac_feature : ", df_master2_not_in_getfac.count())

# df_getfac_not_in_master2 = df_getfac_feature.join(df_master2, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_getfac_feature qui ne sont pas dans df_master2 : ", df_getfac_not_in_master2.count())

Nombre de lignes dans df_master2 qui ne sont pas dans df_getfac_feature :  3370556
Nombre de lignes dans df_getfac_feature qui ne sont pas dans df_master2 :  4

### Join Features getfac

In [8]:
df_master3 = df_master2.join(df_getfac_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [ ]:
df_master3.show(10)

In [33]:
# df_master3.describe("ANNEEMOIS", "MEAN_MONTANTFACTURE").show()

In [9]:
df_master3= df_master3.fillna(0)

In [35]:
# df_master3.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANTFACTURE").show()

In [36]:
# df_getvir_not_in_master2 = df_getvir_feature.join(df_master2, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_getvir_feature qui ne sont pas dans df_master2 : ", df_getvir_not_in_master2.count())

Nombre de lignes dans df_getvir_feature qui ne sont pas dans df_master2 :  0

### Join Features getvir

In [10]:
df_master4 = df_master3.join(df_getvir_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [38]:
# df_master4.show(10)

In [11]:
df_master4=df_master4.fillna(0)
# df_master4.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANTVIREMENT").show()

In [40]:
# df_MONTANT_OPERATIONS_feature_not_in_master2 = df_MONTANT_OPERATIONS_feature.join(df_master4, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_MONTANT_OPERATIONS_feature qui ne sont pas dans df_master2 : ", df_MONTANT_OPERATIONS_feature_not_in_master2.count())

### Join Features Operation Agence

Nombre de lignes dans df_MONTANT_OPERATIONS_feature qui ne sont pas dans df_master2 :  20

In [41]:
# df_MONTANT_OPERATIONS_feature.describe().show()

In [12]:
df_master5 = df_master4.join(df_MONTANT_OPERATIONS_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [43]:
# df_master5.show()

In [13]:
df_master5 = df_master5.fillna(0)
# df_master5.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS").show()

In [14]:
df_master6 = df_master5.join(df_NBROPERATION_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [15]:
df_master6= df_master6.fillna(0)
#df_master6.describe("MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS", "MEAN_NBROPERATION_PREVIOUS_MONTHS").show()
#df_master6.show(5)

### Join Features Satatut Connexion

In [48]:
# csv_path2 = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables mean\df_statut_connexion2.csv"

# df_statut_connexion2 = spark.read.csv(csv_path2, header=True, inferSchema=True)

In [49]:
df_statut_connexion2.show()

+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|CREATEDATE|LASTLOGINDATE|     CONNECTION|CONNECTIONCOUNT|ISLOCKEDOUT|Idclient|DAYS_CREATION|DAYS_LASTLOGIN|LOGIN_FREQUENCY|ACTIVE_RATIO|ANNEE|MOIS|ANNEEMOIS_LastLogin|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  198219|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-04|   2019-10-04|Jamais Connecte|              0|      false|  143526|           89|            89|            0.0|         1.0| 2019|  10|             201910|
|2017-06-04|   2019-06-01|Connecte Reussi|             77|      false|  386264|          941|           214|        0.08183|     0.22742| 2019|   6|             201906|
|2019-12-20|   2019-12-20|Jamais Connecte|              0|      false|  390251|           12|            12|            0.0|         1.0| 2019|  12|             201912|
|2018-12-12|   2019-02-18|Connecte Reussi|              2|      false|  329389|          385|           317|        0.00519|     0.82338| 2019|   2|             201902|
|2018-10-20|   2019-12-19|Connecte Reussi|             16|      false|  349082|          438|            13|        0.03653|     0.02968| 2019|  12|             201912|
|2017-09-28|   2019-03-28|Connecte Reussi|             90|      false|  287551|          825|           279|        0.10909|     0.33818| 2019|   3|             201903|
|2018-09-06|   2019-01-25|Connecte Reussi|             10|      false|  286892|          482|           341|        0.02075|     0.70747| 2019|   1|             201901|
|2017-08-10|   2019-09-08|Connecte Reussi|            264|      false|   56440|          874|           115|        0.30206|     0.13158| 2019|   9|             201909|
|2018-10-13|   2019-09-30|Connecte Reussi|              3|      false|   41278|          445|            93|        0.00674|     0.20899| 2019|   9|             201909|
|2019-05-31|   2019-05-31|Jamais Connecte|              0|      false|   55646|          215|           215|            0.0|         1.0| 2019|   5|             201905|
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  308112|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-11|   2019-10-11|Jamais Connecte|              0|      false|  424137|           82|            82|            0.0|         1.0| 2019|  10|             201910|
|2019-12-31|   2019-12-31|Jamais Connecte|              0|      false|  260075|            1|             1|            0.0|         1.0| 2019|  12|             201912|
|2019-02-07|   2019-02-07|Jamais Connecte|              0|      false|  220010|          328|           328|            0.0|         1.0| 2019|   2|             201902|
|2019-02-11|   2019-02-11|Jamais Connecte|              0|      false|  151356|          324|           324|            0.0|         1.0| 2019|   2|             201902|
|2019-02-13|   2019-02-13|Jamais Connecte|              0|      false|  233564|          322|           322|            0.0|         1.0| 2019|   2|             201902|
|2019-02-25|   2019-02-25|Jamais Connecte|              0|      false|    8548|          310|           310|            0.0|         1.0| 2019|   2|             201902|
|2019-03-30|   2019-03-30|Jamais Connecte|              0|      false|   90164|          277|           277|            0.0|         1.0| 2019|   3|             201903|
|2019-04-16|   2019-04-16|Jamais Connecte|              0|      false|  131147|          260|           260|            0.0|         1.0| 2019|   4|             201904|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
only showing top 20 rows

In [16]:
df_statut_connexion2 = df_statut_connexion2.withColumn("CREATEDATE", F.to_date(df_statut_connexion2.CREATEDATE, 'yyyy-MM-dd'))
df_statut_connexion2 = df_statut_connexion2.withColumn("LASTLOGINDATE", F.to_date(df_statut_connexion2.LASTLOGINDATE, 'yyyy-MM-dd'))

In [51]:
df_statut_connexion2.show()

+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|CREATEDATE|LASTLOGINDATE|     CONNECTION|CONNECTIONCOUNT|ISLOCKEDOUT|Idclient|DAYS_CREATION|DAYS_LASTLOGIN|LOGIN_FREQUENCY|ACTIVE_RATIO|ANNEE|MOIS|ANNEEMOIS_LastLogin|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  198219|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-04|   2019-10-04|Jamais Connecte|              0|      false|  143526|           89|            89|            0.0|         1.0| 2019|  10|             201910|
|2017-06-04|   2019-06-01|Connecte Reussi|             77|      false|  386264|          941|           214|        0.08183|     0.22742| 2019|   6|             201906|
|2019-12-20|   2019-12-20|Jamais Connecte|              0|      false|  390251|           12|            12|            0.0|         1.0| 2019|  12|             201912|
|2018-12-12|   2019-02-18|Connecte Reussi|              2|      false|  329389|          385|           317|        0.00519|     0.82338| 2019|   2|             201902|
|2018-10-20|   2019-12-19|Connecte Reussi|             16|      false|  349082|          438|            13|        0.03653|     0.02968| 2019|  12|             201912|
|2017-09-28|   2019-03-28|Connecte Reussi|             90|      false|  287551|          825|           279|        0.10909|     0.33818| 2019|   3|             201903|
|2018-09-06|   2019-01-25|Connecte Reussi|             10|      false|  286892|          482|           341|        0.02075|     0.70747| 2019|   1|             201901|
|2017-08-10|   2019-09-08|Connecte Reussi|            264|      false|   56440|          874|           115|        0.30206|     0.13158| 2019|   9|             201909|
|2018-10-13|   2019-09-30|Connecte Reussi|              3|      false|   41278|          445|            93|        0.00674|     0.20899| 2019|   9|             201909|
|2019-05-31|   2019-05-31|Jamais Connecte|              0|      false|   55646|          215|           215|            0.0|         1.0| 2019|   5|             201905|
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  308112|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-11|   2019-10-11|Jamais Connecte|              0|      false|  424137|           82|            82|            0.0|         1.0| 2019|  10|             201910|
|2019-12-31|   2019-12-31|Jamais Connecte|              0|      false|  260075|            1|             1|            0.0|         1.0| 2019|  12|             201912|
|2019-02-07|   2019-02-07|Jamais Connecte|              0|      false|  220010|          328|           328|            0.0|         1.0| 2019|   2|             201902|
|2019-02-11|   2019-02-11|Jamais Connecte|              0|      false|  151356|          324|           324|            0.0|         1.0| 2019|   2|             201902|
|2019-02-13|   2019-02-13|Jamais Connecte|              0|      false|  233564|          322|           322|            0.0|         1.0| 2019|   2|             201902|
|2019-02-25|   2019-02-25|Jamais Connecte|              0|      false|    8548|          310|           310|            0.0|         1.0| 2019|   2|             201902|
|2019-03-30|   2019-03-30|Jamais Connecte|              0|      false|   90164|          277|           277|            0.0|         1.0| 2019|   3|             201903|
|2019-04-16|   2019-04-16|Jamais Connecte|              0|      false|  131147|          260|           260|            0.0|         1.0| 2019|   4|             201904|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import when

df_statut_connexion2 = df_statut_connexion2.withColumn('CONNECTION', 
                                 when(df_statut_connexion2['CONNECTION'] == 'Connecte Reussi', 1).otherwise(0))

In [53]:
# df_statut_connexion2.show()

In [18]:
df_statut_connexion_features = df_statut_connexion2.select("Idclient", "CONNECTION" , "ACTIVE_RATIO", "ANNEEMOIS_LastLogin" )

In [55]:
# df_statut_connexion_features.show()

In [22]:
df_statut_connexion_features.count()

52785

In [57]:
# df_statut_connexion_features_not_in_master6 = df_statut_connexion_features.join(df_master6, on=['Idclient'], how='left_anti')
# print("Nombre de lignes dans df_statut_connexion_features qui ne sont pas dans df_master6 : ", df_statut_connexion_features_not_in_master6.count())

Nombre de lignes dans df_statut_connexion_features qui ne sont pas dans df_master6 :  7

In [19]:
df_master7 = df_master6.join(df_statut_connexion_features, on=['Idclient'], how='left')

In [59]:
# df_master7.show()

In [20]:
df_master_statconn_features = df_master7.select("Idclient", "ANNEEMOIS", "MARITAL_STATUS", "CONNECTION" , "ACTIVE_RATIO", "ANNEEMOIS_LastLogin")

In [33]:
# df_master_statconn_features.orderBy("Idclient","ANNEEMOIS").show(30)

In [21]:
## definition d'une fonction de calcul des 3 dernieres ANNEEMOIS
def get_previous_three_months(anneemois):
    year = int(str(anneemois)[:4])
    month = int(str(anneemois)[4:])
    
    previous_months = []
    for _ in range(3):
        month -= 1
        if month <= 0:
            year -= 1
            month = 12
        previous_months.append(year * 100 + month)
    
    return previous_months

In [22]:
get_previous_three_months(202001)

[201912, 201911, 201910]

In [23]:
list_dwp=[201904, 201907, 201910, 202001]

In [24]:
get_previous_three_months(202002)

[202001, 201912, 201911]

In [25]:
from pyspark.sql import functions as F

# Initialize the new column with 0
df_master_statconn_features = df_master_statconn_features.withColumn('Connected recently', F.lit(0))

# Iterate over each ANNEEMOIS
for dwp in list_dwp:
    # Get the last three months
    last_three_months = get_previous_three_months(dwp)

    # Update the column 'Connected recently' if the condition is met
    df_master_statconn_features = df_master_statconn_features.withColumn('Connected recently', 
    F.when((F.col('ANNEEMOIS') == dwp) & (F.col('CONNECTION') == 1) & (F.col('ANNEEMOIS_LastLogin').isin(last_three_months)), 1)
    .otherwise(F.col('Connected recently')))

In [26]:
# df_master_statconn_features.show(50)

In [27]:
df_master_statconn_featurestestttt = df_master_statconn_features.filter(df_master_statconn_features['Connected recently'] == 1)

PROBLEME : HOW TO DEAL WITH MISSING VALUES IN THIS NEW TABLE?

In [28]:
df_master8 = df_master7.drop("CONNECTION","ACTIVE_RATIO","ANNEEMOIS_LastLogin")

In [29]:
df_master_statconn_features2 = df_master_statconn_features.drop("MARITAL_STATUS","df_master_statconn_features","ANNEEMOIS_LastLogin")

In [ ]:
 df_master_statconn_features2.show()

In [ ]:
# df_master9 = df_master8.join(df_master_statconn_features2, on=['Idclient','ANNEEMOIS'], how='left')

In [ ]:
# df_master9.show(20)

In [ ]:
# df_master9.describe("age","AGE_GROUP").show()

In [ ]:
# df_master9.groupBy("CONNECTION").count().show()

In [ ]:
df_master8

### Join Features GAB

In [ ]:
# folder_path2 = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables mean"

# file_names2 = ["df_gab_montant", "df_gab_numoperation", "df_hasyousr"]


# for file_name in file_names2:
#     csv_path2 = f"{folder_path2}/{file_name}.csv"
#     globals()[f"{file_name}"] = spark.read.csv(csv_path2, header=True, inferSchema=True)

In [124]:
df_gab_montant.orderBy("Idclient","ANNEEMOIS").show()

+--------+---------+----------------+
|Idclient|ANNEEMOIS|MEAN_MONTANT_GAB|
+--------+---------+----------------+
| 0000000|   201904|         2133.33|
| 0000000|   201907|         1133.33|
| 0000000|   201910|          566.67|
| 0000000|   202001|             0.0|
| 0000001|   201904|         15100.0|
| 0000001|   201907|        12833.33|
| 0000001|   201910|        12166.67|
| 0000001|   202001|        16666.67|
| 0000002|   201904|         2666.67|
| 0000002|   201907|         4666.67|
| 0000002|   201910|         3766.67|
| 0000002|   202001|           700.0|
| 0000003|   201904|             0.0|
| 0000003|   201907|             0.0|
| 0000003|   201910|             0.0|
| 0000003|   202001|             0.0|
| 0000004|   201904|             0.0|
| 0000004|   201907|             0.0|
| 0000004|   201910|           200.0|
| 0000004|   202001|             0.0|
+--------+---------+----------------+
only showing top 20 rows

In [ ]:
# df_gab_not_in_master = df_gab_montant.join(df_master8, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_gab_montant qui ne sont pas dans df_master8 : ", df_gab_not_in_master.count())

In [30]:
df_master9 = df_master8.join(df_gab_montant, on=['Idclient','ANNEEMOIS'], how='left')

In [ ]:
# df_master9.show()

In [31]:
df_master10 = df_master9.join(df_gab_numoperation, on=['Idclient','ANNEEMOIS'], how='left')

In [ ]:
# df_master10.show()

### Join Features yousr

In [32]:
df_hasyousr = df_hasyousr.withColumnRenamed("IdclientYousr","Idclient")

In [ ]:
# df_hasyousr.show()
# df_hasyousr.describe().show()

In [33]:
checkyousr= df_master10.select("Idclient","ANNEEMOIS")

In [ ]:
# checkyousr.describe().show()

In [34]:
checkyousr = checkyousr.join(df_hasyousr, on='Idclient', how='left')

In [ ]:
# checkyousr.show()

In [37]:
checkyousr = checkyousr.withColumn("HasCreditYousr", when(checkyousr["AUTORISATION"].isNull(), 0).otherwise(1))

In [ ]:
# checkyousr.orderBy("Idclient","ANNEEMOIS").show()

In [ ]:
# checkyousr.describe().show()

In [ ]:
# checkyousrfiltred = checkyousr.filter(checkyousr.HasCreditYousr == 1)

In [ ]:
# checkyousrfiltred.orderBy("Idclient","ANNEEMOIS").show()

In [38]:
checkyousr2 = checkyousr.select("Idclient","ANNEEMOIS","HasCreditYousr")

In [39]:
df_master11 = df_master10.join(checkyousr2, on=['Idclient','ANNEEMOIS'], how='left')

In [40]:
df_master12 = df_master11.join(df_master_statconn_features2, on=['Idclient','ANNEEMOIS'], how='left')

In [ ]:
# df_master11.show()

### Join Features Tables cptferm et fermcpt

#### Tables de la variable cible

In [141]:
df_cptferm2019.show()

+--------+-------+-------------------+----+-----+---------+
|Idclient|PERIODE|          DATE_FERM|MOIS|ANNEE|TRIMESTRE|
+--------+-------+-------------------+----+-----+---------+
|  728356|      H|2019-01-05 03:10:39|   1| 2019|        1|
|  571747|      H|2019-01-05 03:11:03|   1| 2019|        1|
|  522339|      H|2019-01-05 03:10:37|   1| 2019|        1|
|  870983|      H|2019-01-05 03:10:38|   1| 2019|        1|
|  994068|      H|2019-01-05 03:10:38|   1| 2019|        1|
|  351846|      H|2019-01-05 03:10:38|   1| 2019|        1|
|  891937|      H|2019-01-05 03:10:53|   1| 2019|        1|
|  400758|      H|2019-01-05 03:10:40|   1| 2019|        1|
|  756279|      H|2019-01-05 03:10:41|   1| 2019|        1|
|  674795|      H|2019-01-05 03:11:05|   1| 2019|        1|
|  587470|      H|2019-01-05 03:11:07|   1| 2019|        1|
|  763988|      H|2019-01-05 03:10:42|   1| 2019|        1|
|  166228|      H|2019-01-05 03:11:07|   1| 2019|        1|
|  204061|      H|2019-01-05 03:11:08|   1| 2019|        1|
|  720274|      H|2019-01-05 03:10:57|   1| 2019|        1|
|  283566|      H|2019-01-05 03:11:00|   1| 2019|        1|
|  475261|      H|2019-01-05 03:10:54|   1| 2019|        1|
|   64172|      H|2019-01-05 03:10:53|   1| 2019|        1|
|  160639|      H|2019-01-05 03:11:00|   1| 2019|        1|
|  487944|      H|2019-01-05 03:10:57|   1| 2019|        1|
+--------+-------+-------------------+----+-----+---------+
only showing top 20 rows

In [143]:
df_fermcpt2019.show()

+--------+---------------+----------+------------+----+-----+---------+
|Idclient|ORIGINE_DEMANDE|DATE_TRAIT|DATE_DEMANDE|MOIS|ANNEE|TRIMESTRE|
+--------+---------------+----------+------------+----+-----+---------+
|   78447|              C|2019-12-19|  2019-12-19|  12| 2019|        4|
|  604576|              C|2019-12-18|  2019-12-18|  12| 2019|        4|
|  496352|              C|2019-12-30|  2019-12-30|  12| 2019|        4|
|  924991|              C|2019-12-02|  2019-12-02|  12| 2019|        4|
|  383604|              C|2019-12-26|  2019-12-26|  12| 2019|        4|
|  829291|              C|2019-12-10|  2019-12-10|  12| 2019|        4|
|  963589|              C|2019-12-19|  2019-12-19|  12| 2019|        4|
|  592652|              C|2019-11-13|  2019-11-13|  11| 2019|        4|
|  664694|              C|2019-11-14|  2019-11-14|  11| 2019|        4|
|  761465|              C|2019-11-27|  2019-11-27|  11| 2019|        4|
|  810109|              C|2019-12-20|  2019-12-20|  12| 2019|        4|
|  451810|              C|2019-11-22|  2019-11-22|  11| 2019|        4|
|  653077|              C|2019-12-11|  2019-12-11|  12| 2019|        4|
|  349207|              C|2019-12-13|  2019-12-13|  12| 2019|        4|
|  960015|              C|2019-11-19|  2019-11-19|  11| 2019|        4|
|  936395|              C|2019-11-05|  2019-11-05|  11| 2019|        4|
|  932604|              A|2019-12-05|  2019-12-05|  12| 2019|        4|
|  576133|              C|2019-11-13|  2019-11-13|  11| 2019|        4|
|  267639|              C|2019-11-20|  2019-11-20|  11| 2019|        4|
|  874681|              C|2019-12-16|  2019-12-16|  12| 2019|        4|
+--------+---------------+----------+------------+----+-----+---------+
only showing top 20 rows

In [142]:
df_fermcpt2020.show()

+--------+---------------+----------+------------+----+-----+---------+
|Idclient|ORIGINE_DEMANDE|DATE_TRAIT|DATE_DEMANDE|MOIS|ANNEE|TRIMESTRE|
+--------+---------------+----------+------------+----+-----+---------+
|  804847|              C|2020-12-10|  2020-12-10|  12| 2020|        4|
|  695745|              C|2020-12-15|  2020-12-15|  12| 2020|        4|
|  772098|              C|2020-01-29|  2020-01-29|   1| 2020|        1|
|  365874|              C|2020-07-14|  2020-07-14|   7| 2020|        3|
|  803296|              C|2020-08-06|  2020-08-06|   8| 2020|        3|
|  687977|              C|2020-02-05|  2020-02-05|   2| 2020|        1|
|  542680|              C|2020-07-27|  2020-07-27|   7| 2020|        3|
|   18217|              C|2020-12-14|  2020-12-14|  12| 2020|        4|
|  612194|              C|2020-12-21|  2020-12-21|  12| 2020|        4|
|   28651|              C|2020-07-13|  2020-07-13|   7| 2020|        3|
|  790790|              C|2020-08-24|  2020-08-24|   8| 2020|        3|
|  395906|              C|2020-07-06|  2020-07-06|   7| 2020|        3|
|  823847|              C|2020-12-22|  2020-12-22|  12| 2020|        4|
|  627254|              C|2020-10-09|  2020-10-09|  10| 2020|        4|
|  212915|              C|2020-03-02|  2020-03-02|   3| 2020|        1|
|  946219|              C|2020-08-03|  2020-08-03|   8| 2020|        3|
|  170765|              A|2020-06-17|  2020-06-17|   6| 2020|        2|
|   72517|              C|2020-01-09|  2020-01-09|   1| 2020|        1|
|  880742|              C|2020-07-28|  2020-07-28|   7| 2020|        3|
|  831659|              C|2020-06-09|  2020-06-09|   6| 2020|        2|
+--------+---------------+----------+------------+----+-----+---------+
only showing top 20 rows

In [41]:
df_cptferm2019 = df_cptferm2019.withColumn("MOIS", F.lpad(df_cptferm2019["MOIS"], 2, '0'))
df_cptferm2019 = df_cptferm2019.withColumn("Idclient", F.lpad(df_cptferm2019["Idclient"], 7, '0'))

df_fermcpt2019 = df_fermcpt2019.withColumn("MOIS", F.lpad(df_fermcpt2019["MOIS"], 2, '0'))
df_fermcpt2019 = df_fermcpt2019.withColumn("Idclient", F.lpad(df_fermcpt2019["Idclient"], 7, '0'))

df_fermcpt2020 = df_fermcpt2020.withColumn("MOIS", F.lpad(df_fermcpt2020["MOIS"], 2, '0'))
df_fermcpt2020 = df_fermcpt2020.withColumn("Idclient", F.lpad(df_fermcpt2020["Idclient"], 7, '0'))

In [42]:
df_cptferm2019 = df_cptferm2019.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [43]:
df_fermcpt2019 = df_fermcpt2019.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [44]:
df_fermcpt2020 = df_fermcpt2020.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [148]:
df_fermcpt2020.show()

+--------+---------------+----------+------------+----+-----+---------+-------------------+
|Idclient|ORIGINE_DEMANDE|DATE_TRAIT|DATE_DEMANDE|MOIS|ANNEE|TRIMESTRE|ANNEEMOIS_Fermeture|
+--------+---------------+----------+------------+----+-----+---------+-------------------+
| 0804847|              C|2020-12-10|  2020-12-10|  12| 2020|        4|             202012|
| 0695745|              C|2020-12-15|  2020-12-15|  12| 2020|        4|             202012|
| 0772098|              C|2020-01-29|  2020-01-29|  01| 2020|        1|             202001|
| 0365874|              C|2020-07-14|  2020-07-14|  07| 2020|        3|             202007|
| 0803296|              C|2020-08-06|  2020-08-06|  08| 2020|        3|             202008|
| 0687977|              C|2020-02-05|  2020-02-05|  02| 2020|        1|             202002|
| 0542680|              C|2020-07-27|  2020-07-27|  07| 2020|        3|             202007|
| 0018217|              C|2020-12-14|  2020-12-14|  12| 2020|        4|             202012|
| 0612194|              C|2020-12-21|  2020-12-21|  12| 2020|        4|             202012|
| 0028651|              C|2020-07-13|  2020-07-13|  07| 2020|        3|             202007|
| 0790790|              C|2020-08-24|  2020-08-24|  08| 2020|        3|             202008|
| 0395906|              C|2020-07-06|  2020-07-06|  07| 2020|        3|             202007|
| 0823847|              C|2020-12-22|  2020-12-22|  12| 2020|        4|             202012|
| 0627254|              C|2020-10-09|  2020-10-09|  10| 2020|        4|             202010|
| 0212915|              C|2020-03-02|  2020-03-02|  03| 2020|        1|             202003|
| 0946219|              C|2020-08-03|  2020-08-03|  08| 2020|        3|             202008|
| 0170765|              A|2020-06-17|  2020-06-17|  06| 2020|        2|             202006|
| 0072517|              C|2020-01-09|  2020-01-09|  01| 2020|        1|             202001|
| 0880742|              C|2020-07-28|  2020-07-28|  07| 2020|        3|             202007|
| 0831659|              C|2020-06-09|  2020-06-09|  06| 2020|        2|             202006|
+--------+---------------+----------+------------+----+-----+---------+-------------------+
only showing top 20 rows

In [45]:
df2_cptferm2019 = df_cptferm2019.select("Idclient","PERIODE", "ANNEEMOIS_Fermeture")
df2_fermcpt2019 = df_fermcpt2019.select("Idclient","ORIGINE_DEMANDE", "ANNEEMOIS_Fermeture")
df2_fermcpt2020 = df_fermcpt2020.select("Idclient","ORIGINE_DEMANDE", "ANNEEMOIS_Fermeture")

In [ ]:
# df2_cptferm2019.show()

In [ ]:
# df2_fermcpt2019.show()
# df2_fermcpt2020.show()

In [ ]:
# # Sélectionner la colonne "Idclient" de chaque table
# id_clients_df2_cptferm2019 = df2_cptferm2019.select("Idclient")
# id_clients_df2_fermcpt2019 = df2_fermcpt2019.select("Idclient")
# id_clients_df2_fermcpt2020 = df2_fermcpt2020.select("Idclient")

# # Trouver les clients en commun entre les tables
# common_clients = id_clients_df2_cptferm2019.intersect(id_clients_df2_fermcpt2019).intersect(id_clients_df2_fermcpt2020)

# # Afficher le nombre de clients en commun
# print("Nombre de clients en commun : ", common_clients.count())

In [46]:
df2_cptferm2019_all_columns = df2_cptferm2019.select("*")
df2_fermcpt2019_all_columns = df2_fermcpt2019.select("*")
df2_fermcpt2020_all_columns = df2_fermcpt2020.select("*")
table_cible = df2_cptferm2019_all_columns.union(df2_fermcpt2019_all_columns).union(df2_fermcpt2020_all_columns)
# table_cible.show()

In [ ]:
# table_cible.orderBy("Idclient").show()

In [47]:
from pyspark.sql.functions import col

table_cible = table_cible.withColumn("Idclient", col("Idclient").cast("integer"))

In [ ]:

# common_clients = df_master9.select("Idclient").intersect(table_cible.select("Idclient"))
# num_common_clients = common_clients.count()

# print("Nombre d'Idclient en commun : ", num_common_clients)

In [ ]:
table_cible.count()

In [ ]:
# from pyspark.sql.functions import col

# count = table_cible.filter(col("ANNEEMOIS_Fermeture") < "202005").count()
# print("Nombre de lignes avec ANNEEMOIS_Fermeture < 202005 :", count)

In [ ]:
# def get_next_three_months(anneemois):
#     year = int(str(anneemois)[:4])
#     month = int(str(anneemois)[4:])
    
#     next_months = []
#     for _ in range(3):
#         month += 1
#         if month > 12:
#             year += 1
#             month = 1
#         next_months.append(year * 100 + month)
    
#     return next_months

In [ ]:
# get_next_three_months(201911)

In [ ]:
# all_months = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001]

In [ ]:
# from pyspark.sql.functions import col

# # Jointure de la table master avec la table des variables cibles
# df_master10 = df_master9.join(table_cible, ["Idclient"], "left_outer")

In [152]:
table_cible.show()

+--------+-------+-------------------+
|Idclient|PERIODE|ANNEEMOIS_Fermeture|
+--------+-------+-------------------+
|  728356|      H|             201901|
|  571747|      H|             201901|
|  522339|      H|             201901|
|  870983|      H|             201901|
|  994068|      H|             201901|
|  351846|      H|             201901|
|  891937|      H|             201901|
|  400758|      H|             201901|
|  756279|      H|             201901|
|  674795|      H|             201901|
|  587470|      H|             201901|
|  763988|      H|             201901|
|  166228|      H|             201901|
|  204061|      H|             201901|
|  720274|      H|             201901|
|  283566|      H|             201901|
|  475261|      H|             201901|
|   64172|      H|             201901|
|  160639|      H|             201901|
|  487944|      H|             201901|
+--------+-------+-------------------+
only showing top 20 rows

In [ ]:
# df_master10.select("ANNEEMOIS_Fermeture").count()

In [48]:
df_master_Ids = df_master9.select("Idclient","ANNEEMOIS")

In [155]:
# df_master_Ids.show()

#### join feature cible

In [49]:
df_master_cible = df_master_Ids.join(table_cible, "Idclient", "left")

In [ ]:
# df_maser_cible.show()

In [ ]:
# df_filtered1 = df_master_cible.filter(df_master_cible.ANNEEMOIS_Fermeture.isNotNull())
# df_filtered1.count()

In [50]:
from pyspark.sql.functions import floor, col

# Extraire l'année et le mois de la colonne ANNEEMOIS
df_master_cible = df_master_cible.withColumn('Year', floor(col('ANNEEMOIS')/100))
df_master_cible = df_master_cible.withColumn('Month', col('ANNEEMOIS')%100)

# Extraire l'année et le mois de la colonne ANNEEMOIS_Fermeture
df_master_cible = df_master_cible.withColumn('Year_Fermeture', floor(col('ANNEEMOIS_Fermeture')/100))
df_master_cible = df_master_cible.withColumn('Month_Fermeture', col('ANNEEMOIS_Fermeture')%100)

In [ ]:
# from pyspark.sql.functions import expr

# # Créer une nouvelle colonne qui représente la date trois mois plus tard
# df_master_cible = df_master_cible.withColumn(
#     "ANNEEMOIS_plus_trois_mois",
#     F.when(
#         col('Month') <= 9, 
#         col('Year')*100 + col('Month') + 3
#     ).otherwise(
#         (col('Year') + 1)*100 + (col('Month') + 3 - 12)
#     )
# )

In [ ]:
# # Créer une nouvelle colonne qui indique si l'ANNEEMOIS_Fermeture est dans le trimestre qui suit l'ANNEEMOIS
# df_master_cible = df_master_cible.withColumn(
#     "churn_next_trim",
#     F.when(
#         (col('ANNEEMOIS_Fermeture') <= col('ANNEEMOIS_plus_trois_mois')) &
#         (col('ANNEEMOIS_Fermeture') >= col('ANNEEMOIS')), 
#         1
#     ).otherwise(0)
# )

# # Afficher les résultats
# df_master_cible.show()

In [ ]:
# df_master_cible = df_master_cible.drop("ANNEEMOIS_plus_trois_mois","churn_next_trim")

In [51]:
from pyspark.sql.functions import expr

# Créer une nouvelle colonne qui représente la date deux mois plus tard
df_master_cible = df_master_cible.withColumn(
    "ANNEEMOIS_plus_deux_mois",
    F.when(
        col('Month') <= 10, 
        col('Year')*100 + col('Month') + 2
    ).otherwise(
        (col('Year') + 1)*100 + (col('Month') - 10 + 2)
    )
)

In [160]:
# df_master_cible.show()

In [52]:
# Créer une nouvelle colonne qui indique si l'ANNEEMOIS_Fermeture est pendant l'ANNEEMOIS ou les deux mois suivants
df_master_cible = df_master_cible.withColumn(
    "Churn_next_trim",
    F.when(
        (col('ANNEEMOIS_Fermeture') <= col('ANNEEMOIS_plus_deux_mois')) &
        (col('ANNEEMOIS_Fermeture') >= col('ANNEEMOIS')), 
        1
    ).otherwise(0)
)

In [ ]:
# df_filtered = df_master_cible.filter(df_master_cible.Churn_next_trim == 1)
# df_filtered.show()

In [ ]:
# df_filtered.groupBy("ANNEEMOIS_Fermeture").count().show()

In [ ]:
# df_master_cible.show()

In [53]:
df_master_cible2 = df_master_cible.drop("Year","Month","Year_Fermeture","Month_Fermeture","ANNEEMOIS_plus_deux_mois")

In [ ]:
df_master_cible2.show(100)

In [ ]:
df_master_cible2.count()

In [54]:
df_filtered = df_master_cible2.filter(df_master_cible2.Churn_next_trim == 1)

In [ ]:
df_filtered.show(100)

In [ ]:
df_filtered.count()

In [55]:
df_filtered2 = df_master_cible2.filter(df_master_cible2.Churn_next_trim == 1)

In [56]:
df_master_cible3 = df_master_cible2.select("Idclient","ANNEEMOIS","Churn_next_trim")

In [ ]:
# df_master_cible3.show()

## Construction de la table master finale :

In [57]:
df_master12.printSchema()

root
 |-- Idclient: string (nullable = true)
 |-- ANNEEMOIS: string (nullable = true)
 |-- CUSTOMER_SINCE: string (nullable = true)
 |-- DATE_NAISSANCE: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- MARITAL_STATUS: string (nullable = true)
 |-- BPR: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- CUSTOMER_YEARS: integer (nullable = true)
 |-- region: string (nullable = true)
 |-- AGE_GROUP: string (nullable = true)
 |-- MEAN_SOLDE_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_MVTDEB_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_NBMVTDB_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_MVTCRED_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_NBMVTCRE_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_MONTANTFACTURE: double (nullable = false)
 |-- MEAN_MONTANTVIREMENT: double (nullable = false)
 |-- MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_NBROPERATION_PREVIOUS_MONTHS: double (nullable = false)
 |-- MEAN_MONTANT_GAB: double (nullable = true)
 |-- MEAN_NUM_OPERATION_GAB: double (nullable = true)
 |-- HasCreditYousr: integer (nullable = true)
 |-- CONNECTION: integer (nullable = true)
 |-- ACTIVE_RATIO: double (nullable = true)
 |-- Connected recently: integer (nullable = true)

In [58]:
master_table = df_master12.join(df_master_cible3, on=['Idclient','ANNEEMOIS'], how='left')

In [59]:
master_table_backup = master_table

#### repllacer les valeur null

In [171]:
#retourne une liste des noms des colonnes qui contiennent des valeurs nulles ou vides.
#vérifier si les colonnes sont vides ou null
from pyspark.sql.functions import col

def get_null_or_empty_columns(df):
    for column in df.columns:
        nb = df.filter(df[column].isNull()).count()
        # if nb > 0:
        print("-"+str(column)+" null values : "+str(nb))

In [173]:
# get_null_or_empty_columns(master_table)

In [60]:
master_table2 = master_table.fillna({"AGE_GROUP": 45-54 })
master_table2 = master_table2.fillna({"MEAN_SOLDE_PREVIOUS_MONTHS": 0 })
master_table3 = master_table2.fillna({"MEAN_MVTDEB_PREVIOUS_MONTHS": 0 })
master_table3 = master_table3.fillna({"MEAN_NBMVTDB_PREVIOUS_MONTHS": 0 })
master_table3 = master_table3.fillna({"MEAN_MVTCRED_PREVIOUS_MONTHS": 0 })
master_table3 = master_table3.fillna({"MEAN_MONTANTFACTURE": 0 })
master_table3 = master_table3.fillna({"MEAN_MONTANTVIREMENT": 0 })
master_table3 = master_table3.fillna({"MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS": 0 })
master_table3 = master_table3.fillna({"MEAN_NBROPERATION_PREVIOUS_MONTHS": 0 })
master_table3 = master_table3.fillna({"MEAN_MONTANT_GAB": 0 })
master_table3 = master_table3.fillna({"MEAN_NUM_OPERATION_GAB": 0 })
master_table3 = master_table3.fillna({"HasCreditYousr": 0 })
master_table3 = master_table3.fillna({"CONNECTION": 0 })
master_table3 = master_table3.fillna({"ACTIVE_RATIO": 1 })
master_table3 = master_table3.fillna({"Connected recently": 1 })

#### renommer les features

In [61]:
master_table4 = master_table3.withColumnRenamed("MEAN_SOLDE_PREVIOUS_MONTHS","SOLDE")
master_table4 = master_table4.withColumnRenamed("MEAN_MVTDEB_PREVIOUS_MONTHS","MVTDEB")
master_table4 = master_table4.withColumnRenamed("MEAN_NBMVTDB_PREVIOUS_MONTHS","NBMVTDB")
master_table4 = master_table4.withColumnRenamed("MEAN_MVTCRED_PREVIOUS_MONTHS","MVTCRED")
master_table4 = master_table4.withColumnRenamed("MEAN_NBMVTCRE_PREVIOUS_MONTHS","NBMVTCRE")
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANTFACTURE","MONTANTFACTURE")
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANTVIREMENT","MONTANTVIREMENT")
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS","MONTANTOPERATIONS")
master_table4 = master_table4.withColumnRenamed("MEAN_NBROPERATION_PREVIOUS_MONTHS","NBROPERATION")
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANT_GAB","MONTANTGAB")
master_table4 = master_table4.withColumnRenamed("MEAN_NUM_OPERATION_GAB","NBROPERATIONGAB")
master_table4 = master_table4.withColumnRenamed("CONNECTION","ALREADY CONNECTED")
master_table4 = master_table4.withColumnRenamed("Connected recently","CONNECTED RECENTLY")

In [ ]:
#master_table4.describe().show()

#### Save la table master finale

In [ ]:
master_table4.write.parquet("hdfs://namenode:9000/master_table/master_table.parquet")

In [ ]:
master_table4.write.parquet("hdfs://namenode:9000/user/hive/warehouse/master_table.parquet")