In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_format
from pyspark.sql import functions as F
from pyspark.sql.functions import datediff, to_date, lit

In [6]:
spark = SparkSession.builder \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .appName("Hive maitre") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

In [ ]:
HiveContext sqlContext = new org.apache.spark.sql.hive.HiveContext(sc.sc());

In [7]:
df_hasyousr = spark.read.parquet("hdfs://namenode:9000/historisation_features/yousr/df_hasyousr.parquet")

In [8]:
df_hasyousr.show()

+--------+------------+
|Idclient|AUTORISATION|
+--------+------------+
|  342364|           1|
|   13918|           2|
|  232263|           1|
|  123015|           1|
|  232326|           1|
|  177881|           1|
|   13956|           1|
|  177848|           2|
|  341532|           2|
|  342315|           1|
|  397080|           1|
|  396953|           2|
|   71314|           2|
|  235509|           5|
|   71771|           6|
|  345315|           1|
|   14412|           2|
|  396567|           1|
|  181937|           4|
|  291088|           2|
+--------+------------+
only showing top 20 rows

In [11]:
df_hasyousr.write.saveAsTable("dfdl")

AnalysisException: org.apache.hadoop.hive.ql.metadata.HiveException: Unable to fetch table dfdl. java.lang.NullPointerException: Cannot invoke "String.equalsIgnoreCase(String)" because the return value of "java.sql.SQLException.getSQLState()" is null

In [14]:
df = spark.read.table("yousr")
df.show()

+--------+------------+
|Idclient|AUTORISATION|
+--------+------------+
|  342364|           1|
|   13918|           2|
|  232263|           1|
|  123015|           1|
|  232326|           1|
|  177881|           1|
|   13956|           1|
|  177848|           2|
|  341532|           2|
|  342315|           1|
|  397080|           1|
|  396953|           2|
|   71314|           2|
|  235509|           5|
|   71771|           6|
|  345315|           1|
|   14412|           2|
|  396567|           1|
|  181937|           4|
|  291088|           2|
+--------+------------+
only showing top 20 rows

In [15]:
table_name = "yousr"
result = spark.sql(f"DESC FORMATTED {table_name}")
table_path = result.filter(result.col_name == "Location").select(result.data_type).collect()[0][0]
print(f"Chemin de la table '{table_name}': {table_path}")

Chemin de la table 'yousr': file:/home/jovyan/dags/spark-warehouse/yousr

In [ ]:
this my code : 
spark = SparkSession.builder \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .appName("Hive maitre") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()
df_hasyousr.write.mode('overwrite').saveAsTable("default.yousr")
but he created directory /user/hive/warehouse in my local machine and save table in it