In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_format
from pyspark.sql import functions as F
from pyspark.sql.functions import datediff, to_date, lit

In [3]:
# Créer une instance de SparkSession
spark = SparkSession.builder \
    .appName("Table maitre") \
    .getOrCreate()

In [4]:
df_gab_montant = spark.read.parquet("hdfs://namenode:9000/historisation_features/gab/gab_montant_feature.parquet")
df_gab_numoperation = spark.read.parquet("hdfs://namenode:9000/historisation_features/gab/gab_numoperation_feature.parquet")
df_FAC_CANAL_FEATURE = spark.read.parquet("hdfs://namenode:9000/historisation_features/getfac/FAC_CANAL_FEATURE.parquet")
df_getfac_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/getfac/getfac_feature.parquet")
df_getvir_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/getvir/getvir_feature.parquet")
df_VIR_CANAL_FEATURE = spark.read.parquet("hdfs://namenode:9000/historisation_features/getvir/getvir_CANAL_FEATURE.parquet")
df_MONTANT_OPERATIONS_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/operations_agence/MONTANT_OPERATIONS_feature.parquet")
df_NBROPERATION_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/operations_agence/NBROPERATION_feature.parquet")
df_perimetre = spark.read.parquet("hdfs://namenode:9000/historisation_features/perimetre/perimetre.parquet")
df_solde_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/solde_feature.parquet")
df_MVTDEB_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/MVTDEB_feature.parquet")
df_NBMVTDB_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/NBMVTDB_feature.parquet")
df_MVTCRED_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/MVTCRED_feature.parquet")
df_NBMVTCRE_feature = spark.read.parquet("hdfs://namenode:9000/historisation_features/solde/NBMVTCRE_feature.parquet")
statut_connexion2 = spark.read.parquet("hdfs://namenode:9000/historisation_features/statut_connexion/statut_connexion2.parquet")

In [ ]:
file_paths = [
    "hdfs://namenode:9000/DataLake/gab_abstr.parquet",
    "hdfs://namenode:9000/DataLake/getvir.parquet",
    "hdfs://namenode:9000/DataLake/solde.parquet",
    "hdfs://namenode:9000/DataLake/perimetre.parquet",
    "hdfs://namenode:9000/DataLake/statut_connexion.parquet",
    "hdfs://namenode:9000/DataLake/getfac.parquet",
    "hdfs://namenode:9000/DataLake/cptferm.parquet",
    "hdfs://namenode:9000/DataLake/fermcpt.parquet",
    "hdfs://namenode:9000/DataLake/operations_agence.parquet",
    "hdfs://namenode:9000/DataLake/gab22.parquet"
]

def read_parquet_file(file_path, table_name):
    df = spark.read.parquet(file_path)
    df.createOrReplaceTempView(table_name)

In [3]:
folder_path = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables mean"

file_names = ["df_perimetre","df_solde_feature", "df_MVTDEB_feature", "df_NBMVTDB_feature", "df_MVTCRED_feature", "df_NBMVTCRE_feature", 
              "df_getfac_feature", "df_FAC_CANAL_FEATURE", "df_getvir_feature", "df_VIR_CANAL_FEATURE", "df_MONTANT_OPERATIONS_feature", "df_NBROPERATION_feature"]


for file_name in file_names:
    csv_path = f"{folder_path}/{file_name}.csv"
    globals()[f"{file_name}"] = spark.read.csv(csv_path, header=True, inferSchema=True)

In [4]:
df_perimetre2 = df_perimetre.drop("CUSTOMER_SINCE","DATE_NAISSANCE","VILLE")
df_perimetre2.show(5)

+--------+--------------+---+--------+---+--------------+---------+
|   genre|MARITAL_STATUS|BPR|Idclient|age|CUSTOMER_YEARS|AGE_GROUP|
+--------+--------------+---+--------+---+--------------+---------+
| Féminin|      Marié(e)|  1|       0| 64|            23|    55-64|
|Masculin|      Marié(e)|  1|       1| 51|            21|    45-54|
| Féminin|      Marié(e)|  1|       2| 70|            45|      65+|
| Féminin|   Celibataire|  1|       3| 51|            17|    45-54|
|Masculin|      Marié(e)|  1|       4| 50|             6|    45-54|
+--------+--------------+---+--------+---+--------------+---------+
only showing top 5 rows

In [5]:
# df_solde_feature.show(5)

In [6]:
# df_MVTDEB_feature.show(5)

In [7]:
# df_NBMVTDB_feature.show(5)

In [8]:
# df_MVTCRED_feature.show(5)

In [9]:
# df_NBMVTCRE_feature.show(5)

In [10]:
# df_getfac_feature.show(20)
# df_getfac_feature.describe().show()

In [11]:
# df_FAC_CANAL_FEATURE.show(5)

In [12]:
# df_getvir_feature.show(5)

In [13]:
# df_VIR_CANAL_FEATURE.show(5)

In [14]:
# df_MONTANT_OPERATIONS_feature.show(5)

In [15]:
# df_NBROPERATION_feature.show(5)

# Creation de la table Master

In [16]:
df_master = df_perimetre2.join(df_solde_feature, on="Idclient", how="right")

In [17]:
# df_master.orderBy("Idclient","ANNEEMOIS").show(30)

In [18]:
# df_master.describe("ANNEEMOIS","genre","MEAN_SOLDE_PREVIOUS_MONTHS").show()

In [19]:
from pyspark.sql.functions import when, rand

df_master2 = df_master.withColumn("genre", when(df_master["genre"].isNull(), when(rand() > 0.5, "Masculin").otherwise("Féminin")).otherwise(df_master["genre"]))
df_master2 = df_master2.withColumn("MARITAL_STATUS", when(df_master2["MARITAL_STATUS"].isNull(), when(rand() > 0.5, "Celibataire").otherwise("Marié(e)")).otherwise(df_master2["MARITAL_STATUS"]))
df_master2 = df_master2.withColumn("MARITAL_STATUS", when(df_master2["MARITAL_STATUS"].isNull(), when(rand() > 0.5, "Celibataire").otherwise("Marié(e)")).otherwise(df_master2["MARITAL_STATUS"]))

In [20]:
from pyspark.sql.functions import when, rand, floor


BPR_values = [1,17,78,27,48,43,45,50,57,64,81,90,30,40]
n = len(BPR_values)

df_master2 = df_master2.withColumn("random", floor(n*rand()))


for i in range(n):
    df_master2 = df_master2.withColumn("BPR", when((df_master2["BPR"].isNull()) & (df_master2["random"] == i), BPR_values[i]).otherwise(df_master2["BPR"]))

# Supprimer la colonne "random"
df_master2 = df_master2.drop("random")

# Remplacer la valeur 0 par 1
df_master2 = df_master2.withColumn("BPR", when(df_master2["BPR"] == '0', '1').otherwise(df_master2["BPR"]))

In [21]:
# df_master2.describe("ANNEEMOIS","BPR","MEAN_SOLDE_PREVIOUS_MONTHS").show()

In [22]:
df_master2 = df_master2.join(df_MVTDEB_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_NBMVTDB_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_MVTCRED_feature, ["Idclient", "ANNEEMOIS"], "inner")
df_master2 = df_master2.join(df_NBMVTCRE_feature, ["Idclient", "ANNEEMOIS"], "inner")

In [23]:
# df_master2.show(20)

In [24]:
# df_getfac_feature.describe().show()
# df_master2.describe().show()

In [25]:
# df_master2_not_in_getfac = df_master2.join(df_getfac_feature, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_master2 qui ne sont pas dans df_getfac_feature : ", df_master2_not_in_getfac.count())

# df_getfac_not_in_master2 = df_getfac_feature.join(df_master2, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_getfac_feature qui ne sont pas dans df_master2 : ", df_getfac_not_in_master2.count())

Nombre de lignes dans df_master2 qui ne sont pas dans df_getfac_feature :  3370556
Nombre de lignes dans df_getfac_feature qui ne sont pas dans df_master2 :  4

In [26]:
df_master3 = df_master2.join(df_getfac_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

# df_master3.show()

In [27]:
# df_master3.describe("ANNEEMOIS", "MEAN_MONTANTFACTURE").show()

In [28]:
df_master3= df_master3.fillna(0)

In [29]:
# df_master3.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANTFACTURE").show()

In [30]:
# df_getvir_not_in_master2 = df_getvir_feature.join(df_master2, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_getvir_feature qui ne sont pas dans df_master2 : ", df_getvir_not_in_master2.count())

Nombre de lignes dans df_getvir_feature qui ne sont pas dans df_master2 :  0

In [31]:
df_master4 = df_master3.join(df_getvir_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [32]:
# df_master4.show(10)

In [33]:
df_master4=df_master4.fillna(0)
# df_master4.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANTVIREMENT").show()

In [34]:
# df_MONTANT_OPERATIONS_feature_not_in_master2 = df_MONTANT_OPERATIONS_feature.join(df_master4, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_MONTANT_OPERATIONS_feature qui ne sont pas dans df_master2 : ", df_MONTANT_OPERATIONS_feature_not_in_master2.count())

Nombre de lignes dans df_MONTANT_OPERATIONS_feature qui ne sont pas dans df_master2 :  20

In [35]:
# df_MONTANT_OPERATIONS_feature.describe().show()

In [36]:
df_master5 = df_master4.join(df_MONTANT_OPERATIONS_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [37]:
# df_master5.show()

In [38]:
df_master5 = df_master5.fillna(0)
# df_master5.describe("MEAN_SOLDE_PREVIOUS_MONTHS", "MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS").show()

In [39]:
df_master6 = df_master5.join(df_NBROPERATION_feature, on=['Idclient', 'ANNEEMOIS'], how='left')

In [40]:
df_master6= df_master6.fillna(0)
df_master6.describe("MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS", "MEAN_NBROPERATION_PREVIOUS_MONTHS").show()
# df_master6.show(5)

+-------+---------------------------------------+---------------------------------+
|summary|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|
+-------+---------------------------------------+---------------------------------+
|  count|                                3391080|                          3391080|
|   mean|                    -186.79000921239668|              0.48003097243368903|
| stddev|                     35789.610065015906|                2.820151896369791|
|    min|                         -2.166730167E7|                              0.0|
|    max|                                  2.0E7|                          1573.33|
+-------+---------------------------------------+---------------------------------+

In [41]:
# df_master6.printSchema()

## Table Satatut Connexion

In [42]:
csv_path2 = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables mean\df_statut_connexion2.csv"

df_statut_connexion2 = spark.read.csv(csv_path2, header=True, inferSchema=True)

In [43]:


df_statut_connexion2 = df_statut_connexion2.withColumn("CREATEDATE", F.to_date(df_statut_connexion2.CREATEDATE, 'yyyy-MM-dd'))
df_statut_connexion2 = df_statut_connexion2.withColumn("LASTLOGINDATE", F.to_date(df_statut_connexion2.LASTLOGINDATE, 'yyyy-MM-dd'))

In [44]:
df_statut_connexion2.show()

+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|CREATEDATE|LASTLOGINDATE|     CONNECTION|CONNECTIONCOUNT|ISLOCKEDOUT|Idclient|DAYS_CREATION|DAYS_LASTLOGIN|LOGIN_FREQUENCY|ACTIVE_RATIO|ANNEE|MOIS|ANNEEMOIS_LastLogin|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  198219|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-04|   2019-10-04|Jamais Connecte|              0|      false|  143526|           89|            89|            0.0|         1.0| 2019|  10|             201910|
|2017-06-04|   2019-06-01|Connecte Reussi|             77|      false|  386264|          941|           214|        0.08183|     0.22742| 2019|   6|             201906|
|2019-12-20|   2019-12-20|Jamais Connecte|              0|      false|  390251|           12|            12|            0.0|         1.0| 2019|  12|             201912|
|2018-12-12|   2019-02-18|Connecte Reussi|              2|      false|  329389|          385|           317|        0.00519|     0.82338| 2019|   2|             201902|
|2018-10-20|   2019-12-19|Connecte Reussi|             16|      false|  349082|          438|            13|        0.03653|     0.02968| 2019|  12|             201912|
|2017-09-28|   2019-03-28|Connecte Reussi|             90|      false|  287551|          825|           279|        0.10909|     0.33818| 2019|   3|             201903|
|2018-09-06|   2019-01-25|Connecte Reussi|             10|      false|  286892|          482|           341|        0.02075|     0.70747| 2019|   1|             201901|
|2017-08-10|   2019-09-08|Connecte Reussi|            264|      false|   56440|          874|           115|        0.30206|     0.13158| 2019|   9|             201909|
|2018-10-13|   2019-09-30|Connecte Reussi|              3|      false|   41278|          445|            93|        0.00674|     0.20899| 2019|   9|             201909|
|2019-05-31|   2019-05-31|Jamais Connecte|              0|      false|   55646|          215|           215|            0.0|         1.0| 2019|   5|             201905|
|2019-04-12|   2019-04-12|Jamais Connecte|              0|      false|  308112|          264|           264|            0.0|         1.0| 2019|   4|             201904|
|2019-10-11|   2019-10-11|Jamais Connecte|              0|      false|  424137|           82|            82|            0.0|         1.0| 2019|  10|             201910|
|2019-12-31|   2019-12-31|Jamais Connecte|              0|      false|  260075|            1|             1|            0.0|         1.0| 2019|  12|             201912|
|2019-02-07|   2019-02-07|Jamais Connecte|              0|      false|  220010|          328|           328|            0.0|         1.0| 2019|   2|             201902|
|2019-02-11|   2019-02-11|Jamais Connecte|              0|      false|  151356|          324|           324|            0.0|         1.0| 2019|   2|             201902|
|2019-02-13|   2019-02-13|Jamais Connecte|              0|      false|  233564|          322|           322|            0.0|         1.0| 2019|   2|             201902|
|2019-02-25|   2019-02-25|Jamais Connecte|              0|      false|    8548|          310|           310|            0.0|         1.0| 2019|   2|             201902|
|2019-03-30|   2019-03-30|Jamais Connecte|              0|      false|   90164|          277|           277|            0.0|         1.0| 2019|   3|             201903|
|2019-04-16|   2019-04-16|Jamais Connecte|              0|      false|  131147|          260|           260|            0.0|         1.0| 2019|   4|             201904|
+----------+-------------+---------------+---------------+-----------+--------+-------------+--------------+---------------+------------+-----+----+-------------------+
only showing top 20 rows

In [45]:
from pyspark.sql.functions import when

df_statut_connexion2 = df_statut_connexion2.withColumn('CONNECTION', 
                                 when(df_statut_connexion2['CONNECTION'] == 'Connecte Reussi', 1).otherwise(0))

In [46]:
# df_statut_connexion2.show()

In [47]:
df_statut_connexion_features = df_statut_connexion2.select("Idclient", "CONNECTION" , "ACTIVE_RATIO", "ANNEEMOIS_LastLogin" )

In [48]:
# df_statut_connexion_features.show()

In [49]:
df_statut_connexion_features.count()

52785

In [50]:
# df_statut_connexion_features_not_in_master6 = df_statut_connexion_features.join(df_master6, on=['Idclient'], how='left_anti')
# print("Nombre de lignes dans df_statut_connexion_features qui ne sont pas dans df_master6 : ", df_statut_connexion_features_not_in_master6.count())

Nombre de lignes dans df_statut_connexion_features qui ne sont pas dans df_master6 :  7

In [51]:
df_master7 = df_master6.join(df_statut_connexion_features, on=['Idclient'], how='left')

In [52]:
# df_master7.show()

+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------+------------+-------------------+
|Idclient|ANNEEMOIS|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|AGE_GROUP|MEAN_SOLDE_PREVIOUS_MONTHS|MEAN_MVTDEB_PREVIOUS_MONTHS|MEAN_NBMVTDB_PREVIOUS_MONTHS|MEAN_MVTCRED_PREVIOUS_MONTHS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|MEAN_MONTANTFACTURE|MEAN_MONTANTVIREMENT|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|CONNECTION|ACTIVE_RATIO|ANNEEMOIS_LastLogin|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------+------------+-------------------+
|       0|   201904| Féminin|      Marié(e)|  1| 64|            23|    55-64|                   1025.33|                    3452.73|                        9.33|                      2500.0|                          1.0|                0.0|                 0.0|                                1616.67|                             1.33|      null|        null|               null|
|       2|   201904| Féminin|      Marié(e)|  1| 70|            45|      65+|                   5757.81|                     7097.8|                        2.67|                     4100.77|                          2.0|                0.0|                 0.0|                                 1800.0|                             1.67|      null|        null|               null|
|       2|   201910| Féminin|      Marié(e)|  1| 70|            45|      65+|                   2044.72|                        0.0|                        2.33|                     1351.83|                         1.67|                0.0|                 0.0|                                 433.33|                             0.33|      null|        null|               null|
|       3|   201907| Féminin|   Celibataire|  1| 51|            17|    45-54|                   -881.56|                      18.33|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|       4|   201904|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    236.91|                     208.81|                        3.67|                       600.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|       4|   201907|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    210.51|                     475.47|                        5.33|                       800.0|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|       4|   201910|Masculin|      Marié(e)|  1| 50|             6|    45-54|                     55.17|                      408.8|                         5.0|                       400.0|                         0.67|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|       4|   202001|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    143.16|                     1013.2|                        5.33|                      1000.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|       5|   201904| Féminin|      Marié(e)|  1| 41|             9|    35-44|                   4211.08|                        0.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1|     0.10896|             201910|
|       7|   201904| Féminin|   Celibataire|  1| 34|            12|    25-34|                   6265.32|                    5859.92|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         0|         1.0|             201910|
|       7|   201907| Féminin|   Celibataire|  1| 34|            12|    25-34|                   5734.74|                    5293.04|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         0|         1.0|             201910|
|       9|   201904|Masculin|   Celibataire|  1| 39|             3|    35-44|                   1006.83|                     1545.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 533.33|                             0.33|      null|        null|               null|
|      12|   201910|Masculin|   Celibataire|  1| 32|             9|    25-34|                  86661.48|                    2211.03|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -500.0|                             0.33|      null|        null|               null|
|      13|   202001|Masculin|   Celibataire|  1| 37|             6|    35-44|                   -777.28|                      38.01|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|      14|   201910| Féminin|      Marié(e)|  1| 35|             4|    35-44|                   2904.98|                    1047.07|                        3.33|                     2466.67|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|      16|   201904| Féminin|   Celibataire|  1| 25|             7|    25-34|                   9494.12|                    2692.93|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|      16|   201910| Féminin|   Celibataire|  1| 25|             7|    25-34|                    535.23|                     782.15|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|      17|   202001| Féminin|   Celibataire|  1| 26|             7|    25-34|                   1646.97|                      12.67|                        0.67|                      1600.0|                          1.0|                0.0|                 0.0|                                 2400.0|                             1.33|      null|        null|               null|
|      21|   201907|Masculin|      Marié(e)|  1| 43|             6|    35-44|                     82.63|                       11.0|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|      null|        null|               null|
|      21|   201910|Masculin|      Marié(e)|  1| 43|             6|    35-44|                       0.0|                        5.5|                         2.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -66.67|                             0.33|      null|        null|               null|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------+------------+-------------------+
only showing top 20 rows

In [53]:
df_master_statconn_features = df_master7.select("Idclient", "ANNEEMOIS", "MARITAL_STATUS", "CONNECTION" , "ACTIVE_RATIO", "ANNEEMOIS_LastLogin")

In [54]:
df_master_statconn_features.orderBy("Idclient","ANNEEMOIS").show(30)

+--------+---------+--------------+----------+------------+-------------------+
|Idclient|ANNEEMOIS|MARITAL_STATUS|CONNECTION|ACTIVE_RATIO|ANNEEMOIS_LastLogin|
+--------+---------+--------------+----------+------------+-------------------+
|       0|   201904|      Marié(e)|      null|        null|               null|
|       0|   201907|      Marié(e)|      null|        null|               null|
|       0|   201910|      Marié(e)|      null|        null|               null|
|       0|   202001|      Marié(e)|      null|        null|               null|
|       1|   201904|      Marié(e)|      null|        null|               null|
|       1|   201907|      Marié(e)|      null|        null|               null|
|       1|   201910|      Marié(e)|      null|        null|               null|
|       1|   202001|      Marié(e)|      null|        null|               null|
|       2|   201904|      Marié(e)|      null|        null|               null|
|       2|   201907|      Marié(e)|      null|        null|               null|
|       2|   201910|      Marié(e)|      null|        null|               null|
|       2|   202001|      Marié(e)|      null|        null|               null|
|       3|   201904|   Celibataire|      null|        null|               null|
|       3|   201907|   Celibataire|      null|        null|               null|
|       3|   201910|   Celibataire|      null|        null|               null|
|       3|   202001|   Celibataire|      null|        null|               null|
|       4|   201904|      Marié(e)|      null|        null|               null|
|       4|   201907|      Marié(e)|      null|        null|               null|
|       4|   201910|      Marié(e)|      null|        null|               null|
|       4|   202001|      Marié(e)|      null|        null|               null|
|       5|   201904|      Marié(e)|         1|     0.10896|             201910|
|       5|   201907|      Marié(e)|         1|     0.10896|             201910|
|       5|   201910|      Marié(e)|         1|     0.10896|             201910|
|       5|   202001|      Marié(e)|         1|     0.10896|             201910|
|       7|   201904|   Celibataire|         0|         1.0|             201910|
|       7|   201907|   Celibataire|         0|         1.0|             201910|
|       7|   201910|   Celibataire|         0|         1.0|             201910|
|       7|   202001|   Celibataire|         0|         1.0|             201910|
|       9|   201904|   Celibataire|      null|        null|               null|
|       9|   201907|   Celibataire|      null|        null|               null|
+--------+---------+--------------+----------+------------+-------------------+
only showing top 30 rows

### definition d'une fonction de calcul des 3 dernieres ANNEEMOIS

In [55]:
def get_previous_three_months(anneemois):
    year = int(str(anneemois)[:4])
    month = int(str(anneemois)[4:])
    
    previous_months = []
    for _ in range(3):
        month -= 1
        if month <= 0:
            year -= 1
            month = 12
        previous_months.append(year * 100 + month)
    
    return previous_months

In [56]:
get_previous_three_months(202001)

[201912, 201911, 201910]

In [57]:
list_dwp=[201904, 201907, 201910, 202001]

In [58]:
get_previous_three_months(202002)

[202001, 201912, 201911]

In [59]:
from pyspark.sql import functions as F

# Initialize the new column with 0
df_master_statconn_features = df_master_statconn_features.withColumn('Connected recently', F.lit(0))

# Iterate over each ANNEEMOIS
for dwp in list_dwp:
    # Get the last three months
    last_three_months = get_previous_three_months(dwp)

    # Update the column 'Connected recently' if the condition is met
    df_master_statconn_features = df_master_statconn_features.withColumn('Connected recently', 
    F.when((F.col('ANNEEMOIS') == dwp) & (F.col('CONNECTION') == 1) & (F.col('ANNEEMOIS_LastLogin').isin(last_three_months)), 1)
    .otherwise(F.col('Connected recently')))

In [60]:
df_master_statconn_features.show(50)

+--------+---------+--------------+----------+------------+-------------------+------------------+
|Idclient|ANNEEMOIS|MARITAL_STATUS|CONNECTION|ACTIVE_RATIO|ANNEEMOIS_LastLogin|Connected recently|
+--------+---------+--------------+----------+------------+-------------------+------------------+
|       0|   201904|      Marié(e)|      null|        null|               null|                 0|
|       2|   201904|      Marié(e)|      null|        null|               null|                 0|
|       2|   201910|      Marié(e)|      null|        null|               null|                 0|
|       3|   201907|   Celibataire|      null|        null|               null|                 0|
|       4|   201904|      Marié(e)|      null|        null|               null|                 0|
|       4|   201907|      Marié(e)|      null|        null|               null|                 0|
|       4|   201910|      Marié(e)|      null|        null|               null|                 0|
|       4|   202001|      Marié(e)|      null|        null|               null|                 0|
|       5|   201904|      Marié(e)|         1|     0.10896|             201910|                 0|
|       7|   201904|   Celibataire|         0|         1.0|             201910|                 0|
|       7|   201907|   Celibataire|         0|         1.0|             201910|                 0|
|       9|   201904|   Celibataire|      null|        null|               null|                 0|
|      12|   201910|   Celibataire|      null|        null|               null|                 0|
|      13|   202001|   Celibataire|      null|        null|               null|                 0|
|      14|   201910|      Marié(e)|      null|        null|               null|                 0|
|      16|   201904|   Celibataire|      null|        null|               null|                 0|
|      16|   201910|   Celibataire|      null|        null|               null|                 0|
|      17|   202001|   Celibataire|      null|        null|               null|                 0|
|      21|   201907|      Marié(e)|      null|        null|               null|                 0|
|      21|   201910|      Marié(e)|      null|        null|               null|                 0|
|      22|   201910|   Celibataire|      null|        null|               null|                 0|
|      23|   201904|   Celibataire|      null|        null|               null|                 0|
|      23|   201910|   Celibataire|      null|        null|               null|                 0|
|      25|   201910|      Marié(e)|      null|        null|               null|                 0|
|      27|   201904|      Marié(e)|      null|        null|               null|                 0|
|      27|   201907|      Marié(e)|      null|        null|               null|                 0|
|      29|   201907|     Veuf (ve)|      null|        null|               null|                 0|
|      29|   201910|     Veuf (ve)|      null|        null|               null|                 0|
|      32|   201907|      Marié(e)|      null|        null|               null|                 0|
|      33|   201910|      Marié(e)|      null|        null|               null|                 0|
|      33|   202001|      Marié(e)|      null|        null|               null|                 0|
|      34|   201904|      Marié(e)|      null|        null|               null|                 0|
|      36|   202001|   Celibataire|      null|        null|               null|                 0|
|      38|   201907|   Celibataire|         1|     0.20935|             201906|                 1|
|      38|   201910|   Celibataire|         1|     0.20935|             201906|                 0|
|      38|   202001|   Celibataire|         1|     0.20935|             201906|                 0|
|      39|   201904|   Celibataire|      null|        null|               null|                 0|
|      40|   201907|      Marié(e)|      null|        null|               null|                 0|
|      40|   201910|      Marié(e)|      null|        null|               null|                 0|
|      41|   201904|   Celibataire|         0|         1.0|             201905|                 0|
|      41|   202001|   Celibataire|         0|         1.0|             201905|                 0|
|      42|   201910|      Marié(e)|      null|        null|               null|                 0|
|      43|   201907|      Marié(e)|      null|        null|               null|                 0|
|      45|   201907|      Marié(e)|      null|        null|               null|                 0|
|      48|   201910|   Celibataire|      null|        null|               null|                 0|
|      48|   202001|   Celibataire|      null|        null|               null|                 0|
|      50|   202001|   Celibataire|      null|        null|               null|                 0|
|      51|   201904|      Marié(e)|      null|        null|               null|                 0|
|      51|   201907|      Marié(e)|      null|        null|               null|                 0|
|      52|   201910|      Marié(e)|      null|        null|               null|                 0|
+--------+---------+--------------+----------+------------+-------------------+------------------+
only showing top 50 rows

In [61]:
df_master_statconn_featurestestttt = df_master_statconn_features.filter(df_master_statconn_features['Connected recently'] == 1)

In [62]:
# df_master_statconn_featurestestttt.orderBy("Idclient","ANNEEMOIS").show(10)

In [63]:
# df_master_statconn_featurestestttt.count()

PROBLEME : HOW TO DEAL WITH MISSING VALUES IN THIS NEW TABLE?

In [64]:
df_master8 = df_master7.drop("CONNECTION","ACTIVE_RATIO","ANNEEMOIS_LastLogin")

In [65]:
df_master_statconn_features2 = df_master_statconn_features.drop("MARITAL_STATUS","df_master_statconn_features","ANNEEMOIS_LastLogin")

In [123]:
 df_master_statconn_features2.show()

+--------+---------+----------+------------+------------------+
|Idclient|ANNEEMOIS|CONNECTION|ACTIVE_RATIO|Connected recently|
+--------+---------+----------+------------+------------------+
|       0|   201904|      null|        null|                 0|
|       2|   201904|      null|        null|                 0|
|       2|   201910|      null|        null|                 0|
|       3|   201907|      null|        null|                 0|
|       4|   201904|      null|        null|                 0|
|       4|   201907|      null|        null|                 0|
|       4|   201910|      null|        null|                 0|
|       4|   202001|      null|        null|                 0|
|       5|   201904|         1|     0.10896|                 0|
|       7|   201904|         0|         1.0|                 0|
|       7|   201907|         0|         1.0|                 0|
|       9|   201904|      null|        null|                 0|
|      12|   201910|      null|        null|                 0|
|      13|   202001|      null|        null|                 0|
|      14|   201910|      null|        null|                 0|
|      16|   201904|      null|        null|                 0|
|      16|   201910|      null|        null|                 0|
|      17|   202001|      null|        null|                 0|
|      21|   201907|      null|        null|                 0|
|      21|   201910|      null|        null|                 0|
+--------+---------+----------+------------+------------------+
only showing top 20 rows

In [67]:
# df_master9 = df_master8.join(df_master_statconn_features2, on=['Idclient','ANNEEMOIS'], how='left')

In [68]:
# df_master9.show(20)

In [69]:
# df_master9.describe("age","AGE_GROUP").show()

In [70]:
# df_master9.groupBy("CONNECTION").count().show()

## feature GAB

In [119]:
folder_path2 = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables mean"

file_names2 = ["df_gab_montant", "df_gab_numoperation", "df_hasyousr"]


for file_name in file_names2:
    csv_path2 = f"{folder_path2}/{file_name}.csv"
    globals()[f"{file_name}"] = spark.read.csv(csv_path2, header=True, inferSchema=True)

In [121]:
df_gab_montant.orderBy("Idclient","ANNEEMOIS").show()

+--------+---------+----------------+
|Idclient|ANNEEMOIS|MEAN_MONTANT_GAB|
+--------+---------+----------------+
|       0|   201904|         2133.33|
|       0|   201907|         1133.33|
|       0|   201910|          566.67|
|       0|   202001|             0.0|
|       1|   201904|         15100.0|
|       1|   201907|        12833.33|
|       1|   201910|        12166.67|
|       1|   202001|        16666.67|
|       2|   201904|         2666.67|
|       2|   201907|         4666.67|
|       2|   201910|         3766.67|
|       2|   202001|           700.0|
|       3|   201904|             0.0|
|       3|   201907|             0.0|
|       3|   201910|             0.0|
|       3|   202001|             0.0|
|       4|   201904|           200.0|
|       4|   201907|          266.67|
|       4|   201910|           200.0|
|       4|   202001|             0.0|
+--------+---------+----------------+
only showing top 20 rows

In [122]:
# df_gab_not_in_master = df_gab_montant.join(df_master8, on=['Idclient', 'ANNEEMOIS'], how='left_anti')
# print("Nombre de lignes dans df_gab_montant qui ne sont pas dans df_master8 : ", df_gab_not_in_master.count())

Nombre de lignes dans df_gab_montant qui ne sont pas dans df_master8 :  254392

In [124]:
df_master9 = df_master8.join(df_gab_montant, on=['Idclient','ANNEEMOIS'], how='left')

In [125]:
# df_master9.show()

+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+
|Idclient|ANNEEMOIS|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|AGE_GROUP|MEAN_SOLDE_PREVIOUS_MONTHS|MEAN_MVTDEB_PREVIOUS_MONTHS|MEAN_NBMVTDB_PREVIOUS_MONTHS|MEAN_MVTCRED_PREVIOUS_MONTHS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|MEAN_MONTANTFACTURE|MEAN_MONTANTVIREMENT|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|MEAN_MONTANT_GAB|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+
|       0|   201904| Féminin|      Marié(e)|  1| 64|            23|    55-64|                   1025.33|                    3452.73|                        9.33|                      2500.0|                          1.0|                0.0|                 0.0|                                1616.67|                             1.33|         2133.33|
|       2|   201904| Féminin|      Marié(e)|  1| 70|            45|      65+|                   5757.81|                     7097.8|                        2.67|                     4100.77|                          2.0|                0.0|                 0.0|                                 1800.0|                             1.67|         2666.67|
|       2|   201910| Féminin|      Marié(e)|  1| 70|            45|      65+|                   2044.72|                        0.0|                        2.33|                     1351.83|                         1.67|                0.0|                 0.0|                                 433.33|                             0.33|         3766.67|
|       3|   201907| Féminin|   Celibataire|  1| 51|            17|    45-54|                   -881.56|                      18.33|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|
|       4|   201904|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    236.91|                     208.81|                        3.67|                       600.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|
|       4|   201907|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    210.51|                     475.47|                        5.33|                       800.0|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|          266.67|
|       4|   201910|Masculin|      Marié(e)|  1| 50|             6|    45-54|                     55.17|                      408.8|                         5.0|                       400.0|                         0.67|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|
|       4|   202001|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    143.16|                     1013.2|                        5.33|                      1000.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|
|       5|   201904| Féminin|      Marié(e)|  1| 41|             9|    35-44|                   4211.08|                        0.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          3700.0|
|       7|   201904| Féminin|   Celibataire|  1| 34|            12|    25-34|                   6265.32|                    5859.92|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          1600.0|
|       7|   201907| Féminin|   Celibataire|  1| 34|            12|    25-34|                   5734.74|                    5293.04|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1933.33|
|       9|   201904|Masculin|   Celibataire|  1| 39|             3|    35-44|                   1006.83|                     1545.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 533.33|                             0.33|          866.67|
|      12|   201910|Masculin|   Celibataire|  1| 32|             9|    25-34|                  86661.48|                    2211.03|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -500.0|                             0.33|            null|
|      13|   202001|Masculin|   Celibataire|  1| 37|             6|    35-44|                   -777.28|                      38.01|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|
|      14|   201910| Féminin|      Marié(e)|  1| 35|             4|    35-44|                   2904.98|                    1047.07|                        3.33|                     2466.67|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|         1833.33|
|      16|   201904| Féminin|   Celibataire|  1| 25|             7|    25-34|                   9494.12|                    2692.93|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1966.67|
|      16|   201910| Féminin|   Celibataire|  1| 25|             7|    25-34|                    535.23|                     782.15|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|
|      17|   202001| Féminin|   Celibataire|  1| 26|             7|    25-34|                   1646.97|                      12.67|                        0.67|                      1600.0|                          1.0|                0.0|                 0.0|                                 2400.0|                             1.33|         1366.67|
|      21|   201907|Masculin|      Marié(e)|  1| 43|             6|    35-44|                     82.63|                       11.0|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|
|      21|   201910|Masculin|      Marié(e)|  1| 43|             6|    35-44|                       0.0|                        5.5|                         2.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -66.67|                             0.33|            null|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+
only showing top 20 rows

In [126]:
df_master10 = df_master9.join(df_gab_numoperation, on=['Idclient','ANNEEMOIS'], how='left')

In [128]:
# df_master10.show()

## Feature yousr

In [148]:
df_hasyousr= df_hasyousr.withColumnRenamed("IdclientYousr","Idclient")

In [161]:
# df_hasyousr.show()
# df_hasyousr.describe().show()

+--------+------------+
|Idclient|AUTORISATION|
+--------+------------+
|  342364|           1|
|   13918|           2|
|  232263|           1|
|  123015|           1|
|  232326|           1|
|  177881|           1|
|   13956|           1|
|  177848|           2|
|  341532|           2|
|  342315|           1|
|  397080|           1|
|  396953|           2|
|   71314|           2|
|  235509|           5|
|   71771|           6|
|  345315|           1|
|   14412|           2|
|  396567|           1|
|  181937|           4|
|  291088|           2|
+--------+------------+
only showing top 20 rows

+-------+------------------+-----------------+
|summary|          Idclient|     AUTORISATION|
+-------+------------------+-----------------+
|  count|             38845|            38845|
|   mean| 498632.5058308663|7.192174024971039|
| stddev|288950.06599028135|  59.866719099457|
|    min|                 5|                1|
|    max|            999990|             4000|
+-------+------------------+-----------------+

In [162]:
checkyousr= df_master10.select("Idclient","ANNEEMOIS")

In [143]:
# checkyousr.describe().show()

+-------+-----------------+-----------------+
|summary|         Idclient|        ANNEEMOIS|
+-------+-----------------+-----------------+
|  count|          3391080|          3391080|
|   mean|499881.0079384739|         201930.5|
| stddev|288556.4259406937|40.75844071954127|
|    min|                0|           201904|
|    max|           999999|           202001|
+-------+-----------------+-----------------+

In [163]:
checkyousr = checkyousr.join(df_hasyousr, on='Idclient', how='left')

In [164]:
# checkyousr.show()

+--------+---------+------------+
|Idclient|ANNEEMOIS|AUTORISATION|
+--------+---------+------------+
|       0|   201904|        null|
|       2|   201904|        null|
|       2|   201910|        null|
|       3|   201907|        null|
|       4|   201904|        null|
|       4|   201907|        null|
|       4|   201910|        null|
|       4|   202001|        null|
|       5|   201904|           2|
|       7|   201904|        null|
|       7|   201907|        null|
|       9|   201904|        null|
|      12|   201910|        null|
|      13|   202001|        null|
|      14|   201910|        null|
|      16|   201904|        null|
|      16|   201910|        null|
|      17|   202001|        null|
|      21|   201907|        null|
|      21|   201910|        null|
+--------+---------+------------+
only showing top 20 rows

In [165]:
checkyousr = checkyousr.withColumn("HasCreditYousr", when(col("AUTORISATION").isNull(), 0).otherwise(1))

In [166]:
# checkyousr.orderBy("Idclient","ANNEEMOIS").show()

+--------+---------+------------+--------------+
|Idclient|ANNEEMOIS|AUTORISATION|HasCreditYousr|
+--------+---------+------------+--------------+
|       0|   201904|        null|             0|
|       0|   201907|        null|             0|
|       0|   201910|        null|             0|
|       0|   202001|        null|             0|
|       1|   201904|        null|             0|
|       1|   201907|        null|             0|
|       1|   201910|        null|             0|
|       1|   202001|        null|             0|
|       2|   201904|        null|             0|
|       2|   201907|        null|             0|
|       2|   201910|        null|             0|
|       2|   202001|        null|             0|
|       3|   201904|        null|             0|
|       3|   201907|        null|             0|
|       3|   201910|        null|             0|
|       3|   202001|        null|             0|
|       4|   201904|        null|             0|
|       4|   201907|        null|             0|
|       4|   201910|        null|             0|
|       4|   202001|        null|             0|
+--------+---------+------------+--------------+
only showing top 20 rows

In [167]:
# checkyousr.describe().show()

+-------+------------------+-----------------+-----------------+-------------------+
|summary|          Idclient|        ANNEEMOIS|     AUTORISATION|     HasCreditYousr|
+-------+------------------+-----------------+-----------------+-------------------+
|  count|           3391936|          3391936|           155380|            3391936|
|   mean|499883.73336525215|         201930.5|7.192174024971039|0.04580864733296855|
| stddev|288557.70003014023|40.75844071802368|59.86614115448288|0.20906991186922638|
|    min|                 0|           201904|                1|                  0|
|    max|            999999|           202001|             4000|                  1|
+-------+------------------+-----------------+-----------------+-------------------+

In [168]:
# checkyousrfiltred = checkyousr.filter(checkyousr.HasCreditYousr == 1)

In [169]:
# checkyousrfiltred.orderBy("Idclient","ANNEEMOIS").show()

+--------+---------+------------+--------------+
|Idclient|ANNEEMOIS|AUTORISATION|HasCreditYousr|
+--------+---------+------------+--------------+
|       5|   201904|           2|             1|
|       5|   201907|           2|             1|
|       5|   201910|           2|             1|
|       5|   202001|           2|             1|
|      32|   201904|          10|             1|
|      32|   201907|          10|             1|
|      32|   201910|          10|             1|
|      32|   202001|          10|             1|
|      41|   201904|           3|             1|
|      41|   201907|           3|             1|
|      41|   201910|           3|             1|
|      41|   202001|           3|             1|
|      56|   201904|           4|             1|
|      56|   201907|           4|             1|
|      56|   201910|           4|             1|
|      56|   202001|           4|             1|
|      99|   201904|           2|             1|
|      99|   201907|           2|             1|
|      99|   201910|           2|             1|
|      99|   202001|           2|             1|
+--------+---------+------------+--------------+
only showing top 20 rows

In [170]:
checkyousr2 = checkyousr.select("Idclient","ANNEEMOIS","HasCreditYousr")

In [171]:
df_master11 = df_master10.join(checkyousr2, on=['Idclient','ANNEEMOIS'], how='left')

In [172]:
# df_master11.show()

+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+
|Idclient|ANNEEMOIS|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|AGE_GROUP|MEAN_SOLDE_PREVIOUS_MONTHS|MEAN_MVTDEB_PREVIOUS_MONTHS|MEAN_NBMVTDB_PREVIOUS_MONTHS|MEAN_MVTCRED_PREVIOUS_MONTHS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|MEAN_MONTANTFACTURE|MEAN_MONTANTVIREMENT|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|MEAN_MONTANT_GAB|MEAN_NUM_OPERATION_GAB|HasCreditYousr|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+
|       0|   201904| Féminin|      Marié(e)|  1| 64|            23|    55-64|                   1025.33|                    3452.73|                        9.33|                      2500.0|                          1.0|                0.0|                 0.0|                                1616.67|                             1.33|         2133.33|                  7.33|             0|
|       2|   201904| Féminin|      Marié(e)|  1| 70|            45|      65+|                   5757.81|                     7097.8|                        2.67|                     4100.77|                          2.0|                0.0|                 0.0|                                 1800.0|                             1.67|         2666.67|                  3.33|             0|
|       2|   201910| Féminin|      Marié(e)|  1| 70|            45|      65+|                   2044.72|                        0.0|                        2.33|                     1351.83|                         1.67|                0.0|                 0.0|                                 433.33|                             0.33|         3766.67|                  7.67|             0|
|       3|   201907| Féminin|   Celibataire|  1| 51|            17|    45-54|                   -881.56|                      18.33|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|
|       4|   201904|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    236.91|                     208.81|                        3.67|                       600.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|                  0.67|             0|
|       4|   201907|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    210.51|                     475.47|                        5.33|                       800.0|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|          266.67|                  1.33|             0|
|       4|   201910|Masculin|      Marié(e)|  1| 50|             6|    45-54|                     55.17|                      408.8|                         5.0|                       400.0|                         0.67|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|                  1.33|             0|
|       4|   202001|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    143.16|                     1013.2|                        5.33|                      1000.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|
|       5|   201904| Féminin|      Marié(e)|  1| 41|             9|    35-44|                   4211.08|                        0.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          3700.0|                   3.0|             1|
|       7|   201904| Féminin|   Celibataire|  1| 34|            12|    25-34|                   6265.32|                    5859.92|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          1600.0|                  3.67|             0|
|       7|   201907| Féminin|   Celibataire|  1| 34|            12|    25-34|                   5734.74|                    5293.04|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1933.33|                  2.33|             0|
|       9|   201904|Masculin|   Celibataire|  1| 39|             3|    35-44|                   1006.83|                     1545.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 533.33|                             0.33|          866.67|                  2.67|             0|
|      12|   201910|Masculin|   Celibataire|  1| 32|             9|    25-34|                  86661.48|                    2211.03|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -500.0|                             0.33|            null|                  null|             0|
|      13|   202001|Masculin|   Celibataire|  1| 37|             6|    35-44|                   -777.28|                      38.01|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|                  null|             0|
|      14|   201910| Féminin|      Marié(e)|  1| 35|             4|    35-44|                   2904.98|                    1047.07|                        3.33|                     2466.67|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|         1833.33|                  2.67|             0|
|      16|   201904| Féminin|   Celibataire|  1| 25|             7|    25-34|                   9494.12|                    2692.93|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1966.67|                  2.33|             0|
|      16|   201910| Féminin|   Celibataire|  1| 25|             7|    25-34|                    535.23|                     782.15|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|
|      17|   202001| Féminin|   Celibataire|  1| 26|             7|    25-34|                   1646.97|                      12.67|                        0.67|                      1600.0|                          1.0|                0.0|                 0.0|                                 2400.0|                             1.33|         1366.67|                  5.33|             0|
|      21|   201907|Masculin|      Marié(e)|  1| 43|             6|    35-44|                     82.63|                       11.0|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|                  null|             0|
|      21|   201910|Masculin|      Marié(e)|  1| 43|             6|    35-44|                       0.0|                        5.5|                         2.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -66.67|                             0.33|            null|                  null|             0|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+
only showing top 20 rows

In [173]:
c

In [174]:
df_master12.show(5)

+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+
|Idclient|ANNEEMOIS|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|AGE_GROUP|MEAN_SOLDE_PREVIOUS_MONTHS|MEAN_MVTDEB_PREVIOUS_MONTHS|MEAN_NBMVTDB_PREVIOUS_MONTHS|MEAN_MVTCRED_PREVIOUS_MONTHS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|MEAN_MONTANTFACTURE|MEAN_MONTANTVIREMENT|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|MEAN_MONTANT_GAB|MEAN_NUM_OPERATION_GAB|HasCreditYousr|CONNECTION|ACTIVE_RATIO|Connected recently|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+
|       0|   201904| Féminin|      Marié(e)|  1| 64|            23|    55-64|                   1025.33|                    3452.73|                        9.33|                      2500.0|                          1.0|                0.0|                 0.0|                                1616.67|                             1.33|         2133.33|                  7.33|             0|      null|        null|                 0|
|       2|   201904| Féminin|      Marié(e)|  1| 70|            45|      65+|                   5757.81|                     7097.8|                        2.67|                     4100.77|                          2.0|                0.0|                 0.0|                                 1800.0|                             1.67|         2666.67|                  3.33|             0|      null|        null|                 0|
|       2|   201910| Féminin|      Marié(e)|  1| 70|            45|      65+|                   2044.72|                        0.0|                        2.33|                     1351.83|                         1.67|                0.0|                 0.0|                                 433.33|                             0.33|         3766.67|                  7.67|             0|      null|        null|                 0|
|       3|   201907| Féminin|   Celibataire|  1| 51|            17|    45-54|                   -881.56|                      18.33|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|      null|        null|                 0|
|       4|   201904|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    236.91|                     208.81|                        3.67|                       600.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|                  0.67|             0|      null|        null|                 0|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+
only showing top 5 rows

## Tables de la variable cible

In [71]:
folder_path2 = r"C:\Users\DELL XPS\Desktop\data\new\tables pre traite\tables historisées\cible"

file_names2 = ["df_cptferm2019", "df_fermcpt2019", "df_fermcpt2020"]


for file_name in file_names2:
    csv_path2 = f"{folder_path2}/{file_name}.csv"
    globals()[f"{file_name}"] = spark.read.csv(csv_path2, header=True, inferSchema=True)

In [72]:
# df_cptferm2019.show()

In [73]:
# df_fermcpt2019.show()

In [74]:
# df_fermcpt2020.show()

In [75]:
df_cptferm2019 = df_cptferm2019.withColumn("MOIS", F.lpad(df_cptferm2019["MOIS"], 2, '0'))
df_cptferm2019 = df_cptferm2019.withColumn("Idclient", F.lpad(df_cptferm2019["Idclient"], 7, '0'))

df_fermcpt2019 = df_fermcpt2019.withColumn("MOIS", F.lpad(df_fermcpt2019["MOIS"], 2, '0'))
df_fermcpt2019 = df_fermcpt2019.withColumn("Idclient", F.lpad(df_fermcpt2019["Idclient"], 7, '0'))

df_fermcpt2020 = df_fermcpt2020.withColumn("MOIS", F.lpad(df_fermcpt2020["MOIS"], 2, '0'))
df_fermcpt2020 = df_fermcpt2020.withColumn("Idclient", F.lpad(df_fermcpt2020["Idclient"], 7, '0'))

In [76]:
df_cptferm2019 = df_cptferm2019.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [77]:
df_fermcpt2019 = df_fermcpt2019.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [78]:
df_fermcpt2020 = df_fermcpt2020.withColumn("ANNEEMOIS_Fermeture", F.concat(F.col("ANNEE"), F.col("MOIS")))

In [79]:
# df_fermcpt2020.show()

In [80]:
df2_cptferm2019 = df_cptferm2019.select("Idclient","PERIODE", "ANNEEMOIS_Fermeture")
df2_fermcpt2019 = df_fermcpt2019.select("Idclient","ORIGINE_DEMANDE", "ANNEEMOIS_Fermeture")
df2_fermcpt2020 = df_fermcpt2020.select("Idclient","ORIGINE_DEMANDE", "ANNEEMOIS_Fermeture")

In [81]:
# df2_cptferm2019.show()

In [82]:
# df2_fermcpt2019.show()
# df2_fermcpt2020.show()

In [83]:
# # Sélectionner la colonne "Idclient" de chaque table
# id_clients_df2_cptferm2019 = df2_cptferm2019.select("Idclient")
# id_clients_df2_fermcpt2019 = df2_fermcpt2019.select("Idclient")
# id_clients_df2_fermcpt2020 = df2_fermcpt2020.select("Idclient")

# # Trouver les clients en commun entre les tables
# common_clients = id_clients_df2_cptferm2019.intersect(id_clients_df2_fermcpt2019).intersect(id_clients_df2_fermcpt2020)

# # Afficher le nombre de clients en commun
# print("Nombre de clients en commun : ", common_clients.count())

In [84]:
df2_cptferm2019_all_columns = df2_cptferm2019.select("*")
df2_fermcpt2019_all_columns = df2_fermcpt2019.select("*")
df2_fermcpt2020_all_columns = df2_fermcpt2020.select("*")

table_cible = df2_cptferm2019_all_columns.union(df2_fermcpt2019_all_columns).union(df2_fermcpt2020_all_columns)

# table_cible.show()

In [85]:
# table_cible.orderBy("Idclient").show()

In [86]:
from pyspark.sql.functions import col

table_cible = table_cible.withColumn("Idclient", col("Idclient").cast("integer"))

In [87]:

# common_clients = df_master9.select("Idclient").intersect(table_cible.select("Idclient"))
# num_common_clients = common_clients.count()

# print("Nombre d'Idclient en commun : ", num_common_clients)

In [88]:
table_cible.count()

13163

In [89]:
# from pyspark.sql.functions import col

# count = table_cible.filter(col("ANNEEMOIS_Fermeture") < "202005").count()
# print("Nombre de lignes avec ANNEEMOIS_Fermeture < 202005 :", count)

In [90]:
# def get_next_three_months(anneemois):
#     year = int(str(anneemois)[:4])
#     month = int(str(anneemois)[4:])
    
#     next_months = []
#     for _ in range(3):
#         month += 1
#         if month > 12:
#             year += 1
#             month = 1
#         next_months.append(year * 100 + month)
    
#     return next_months

In [91]:
# get_next_three_months(201911)

In [92]:
# all_months = [201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001]

In [93]:
# from pyspark.sql.functions import col

# # Jointure de la table master avec la table des variables cibles
# df_master10 = df_master9.join(table_cible, ["Idclient"], "left_outer")

In [94]:
table_cible.show()

+--------+-------+-------------------+
|Idclient|PERIODE|ANNEEMOIS_Fermeture|
+--------+-------+-------------------+
|  111550|      H|             201901|
|  478038|      H|             201901|
|  962285|      H|             201901|
|  249414|      H|             201901|
|  728082|      H|             201901|
|  183295|      H|             201901|
|  926361|      H|             201912|
|  662770|      H|             201912|
|  364534|      H|             201901|
|  979903|      H|             201901|
|  925811|      H|             201901|
|  352597|      H|             201901|
|  316923|      H|             201901|
|  229107|      H|             201901|
|  723185|      H|             201901|
|  293584|      H|             201912|
|  627724|      H|             201901|
|  778143|      H|             201901|
|  959569|      H|             201901|
|  802966|      H|             201901|
+--------+-------+-------------------+
only showing top 20 rows

In [95]:
# df_master10.select("ANNEEMOIS_Fermeture").count()

In [96]:
df_master_Ids = df_master9.select("Idclient","ANNEEMOIS")

In [97]:
df_master_Ids.show()

+--------+---------+
|Idclient|ANNEEMOIS|
+--------+---------+
|       0|   201904|
|       2|   201904|
|       2|   201910|
|       3|   201907|
|       4|   201904|
|       4|   201907|
|       4|   201910|
|       4|   202001|
|       5|   201904|
|       7|   201904|
|       7|   201907|
|       9|   201904|
|      12|   201910|
|      13|   202001|
|      14|   201910|
|      16|   201904|
|      16|   201910|
|      17|   202001|
|      21|   201907|
|      21|   201910|
+--------+---------+
only showing top 20 rows

In [98]:
table_cible.show()

+--------+-------+-------------------+
|Idclient|PERIODE|ANNEEMOIS_Fermeture|
+--------+-------+-------------------+
|  111550|      H|             201901|
|  478038|      H|             201901|
|  962285|      H|             201901|
|  249414|      H|             201901|
|  728082|      H|             201901|
|  183295|      H|             201901|
|  926361|      H|             201912|
|  662770|      H|             201912|
|  364534|      H|             201901|
|  979903|      H|             201901|
|  925811|      H|             201901|
|  352597|      H|             201901|
|  316923|      H|             201901|
|  229107|      H|             201901|
|  723185|      H|             201901|
|  293584|      H|             201912|
|  627724|      H|             201901|
|  778143|      H|             201901|
|  959569|      H|             201901|
|  802966|      H|             201901|
+--------+-------+-------------------+
only showing top 20 rows

In [99]:
df_master_cible = df_master_Ids.join(table_cible, "Idclient", "left")

In [100]:
# df_maser_cible.show()

In [101]:
# df_filtered1 = df_master_cible.filter(df_master_cible.ANNEEMOIS_Fermeture.isNotNull())
# df_filtered1.count()

In [102]:
from pyspark.sql.functions import floor, col

# Extraire l'année et le mois de la colonne ANNEEMOIS
df_master_cible = df_master_cible.withColumn('Year', floor(col('ANNEEMOIS')/100))
df_master_cible = df_master_cible.withColumn('Month', col('ANNEEMOIS')%100)

# Extraire l'année et le mois de la colonne ANNEEMOIS_Fermeture
df_master_cible = df_master_cible.withColumn('Year_Fermeture', floor(col('ANNEEMOIS_Fermeture')/100))
df_master_cible = df_master_cible.withColumn('Month_Fermeture', col('ANNEEMOIS_Fermeture')%100)

In [103]:
# from pyspark.sql.functions import expr

# # Créer une nouvelle colonne qui représente la date trois mois plus tard
# df_master_cible = df_master_cible.withColumn(
#     "ANNEEMOIS_plus_trois_mois",
#     F.when(
#         col('Month') <= 9, 
#         col('Year')*100 + col('Month') + 3
#     ).otherwise(
#         (col('Year') + 1)*100 + (col('Month') + 3 - 12)
#     )
# )

In [104]:
# # Créer une nouvelle colonne qui indique si l'ANNEEMOIS_Fermeture est dans le trimestre qui suit l'ANNEEMOIS
# df_master_cible = df_master_cible.withColumn(
#     "churn_next_trim",
#     F.when(
#         (col('ANNEEMOIS_Fermeture') <= col('ANNEEMOIS_plus_trois_mois')) &
#         (col('ANNEEMOIS_Fermeture') >= col('ANNEEMOIS')), 
#         1
#     ).otherwise(0)
# )

# # Afficher les résultats
# df_master_cible.show()

In [105]:
# df_master_cible = df_master_cible.drop("ANNEEMOIS_plus_trois_mois","churn_next_trim")

In [106]:
from pyspark.sql.functions import expr

# Créer une nouvelle colonne qui représente la date deux mois plus tard
df_master_cible = df_master_cible.withColumn(
    "ANNEEMOIS_plus_deux_mois",
    F.when(
        col('Month') <= 10, 
        col('Year')*100 + col('Month') + 2
    ).otherwise(
        (col('Year') + 1)*100 + (col('Month') - 10 + 2)
    )
)

In [107]:
df_master_cible.show()

+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+
|Idclient|ANNEEMOIS|PERIODE|ANNEEMOIS_Fermeture|Year|Month|Year_Fermeture|Month_Fermeture|ANNEEMOIS_plus_deux_mois|
+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+
|       0|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|       2|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|       2|   201910|   null|               null|2019|   10|          null|           null|                  201912|
|       3|   201907|   null|               null|2019|    7|          null|           null|                  201909|
|       4|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|       4|   201907|   null|               null|2019|    7|          null|           null|                  201909|
|       4|   201910|   null|               null|2019|   10|          null|           null|                  201912|
|       4|   202001|   null|               null|2020|    1|          null|           null|                  202003|
|       5|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|       7|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|       7|   201907|   null|               null|2019|    7|          null|           null|                  201909|
|       9|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|      12|   201910|   null|               null|2019|   10|          null|           null|                  201912|
|      13|   202001|   null|               null|2020|    1|          null|           null|                  202003|
|      14|   201910|   null|               null|2019|   10|          null|           null|                  201912|
|      16|   201904|   null|               null|2019|    4|          null|           null|                  201906|
|      16|   201910|   null|               null|2019|   10|          null|           null|                  201912|
|      17|   202001|   null|               null|2020|    1|          null|           null|                  202003|
|      21|   201907|   null|               null|2019|    7|          null|           null|                  201909|
|      21|   201910|   null|               null|2019|   10|          null|           null|                  201912|
+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+
only showing top 20 rows

In [108]:
# Créer une nouvelle colonne qui indique si l'ANNEEMOIS_Fermeture est pendant l'ANNEEMOIS ou les deux mois suivants
df_master_cible = df_master_cible.withColumn(
    "Churn_next_trim",
    F.when(
        (col('ANNEEMOIS_Fermeture') <= col('ANNEEMOIS_plus_deux_mois')) &
        (col('ANNEEMOIS_Fermeture') >= col('ANNEEMOIS')), 
        1
    ).otherwise(0)
)

In [109]:
# df_filtered = df_master_cible.filter(df_master_cible.Churn_next_trim == 1)
# df_filtered.show()

In [110]:
# df_filtered.groupBy("ANNEEMOIS_Fermeture").count().show()

In [111]:
df_master_cible.show()

+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+---------------+
|Idclient|ANNEEMOIS|PERIODE|ANNEEMOIS_Fermeture|Year|Month|Year_Fermeture|Month_Fermeture|ANNEEMOIS_plus_deux_mois|Churn_next_trim|
+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+---------------+
|       0|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|       2|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|       2|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
|       3|   201907|   null|               null|2019|    7|          null|           null|                  201909|              0|
|       4|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|       4|   201907|   null|               null|2019|    7|          null|           null|                  201909|              0|
|       4|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
|       4|   202001|   null|               null|2020|    1|          null|           null|                  202003|              0|
|       5|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|       7|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|       7|   201907|   null|               null|2019|    7|          null|           null|                  201909|              0|
|       9|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|      12|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
|      13|   202001|   null|               null|2020|    1|          null|           null|                  202003|              0|
|      14|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
|      16|   201904|   null|               null|2019|    4|          null|           null|                  201906|              0|
|      16|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
|      17|   202001|   null|               null|2020|    1|          null|           null|                  202003|              0|
|      21|   201907|   null|               null|2019|    7|          null|           null|                  201909|              0|
|      21|   201910|   null|               null|2019|   10|          null|           null|                  201912|              0|
+--------+---------+-------+-------------------+----+-----+--------------+---------------+------------------------+---------------+
only showing top 20 rows

In [112]:
df_master_cible2 = df_master_cible.drop("Year","Month","Year_Fermeture","Month_Fermeture","ANNEEMOIS_plus_deux_mois")

In [113]:
df_master_cible2.show(100)

+--------+---------+-------+-------------------+---------------+
|Idclient|ANNEEMOIS|PERIODE|ANNEEMOIS_Fermeture|Churn_next_trim|
+--------+---------+-------+-------------------+---------------+
|       0|   201904|   null|               null|              0|
|       2|   201904|   null|               null|              0|
|       2|   201910|   null|               null|              0|
|       3|   201907|   null|               null|              0|
|       4|   201904|   null|               null|              0|
|       4|   201907|   null|               null|              0|
|       4|   201910|   null|               null|              0|
|       4|   202001|   null|               null|              0|
|       5|   201904|   null|               null|              0|
|       7|   201904|   null|               null|              0|
|       7|   201907|   null|               null|              0|
|       9|   201904|   null|               null|              0|
|      12|   201910|   null|               null|              0|
|      13|   202001|   null|               null|              0|
|      14|   201910|   null|               null|              0|
|      16|   201904|   null|               null|              0|
|      16|   201910|   null|               null|              0|
|      17|   202001|   null|               null|              0|
|      21|   201907|   null|               null|              0|
|      21|   201910|   null|               null|              0|
|      22|   201910|   null|               null|              0|
|      23|   201904|   null|               null|              0|
|      23|   201910|   null|               null|              0|
|      25|   201910|   null|               null|              0|
|      27|   201904|   null|               null|              0|
|      27|   201907|   null|               null|              0|
|      29|   201907|   null|               null|              0|
|      29|   201910|   null|               null|              0|
|      32|   201907|   null|               null|              0|
|      33|   201910|   null|               null|              0|
|      33|   202001|   null|               null|              0|
|      34|   201904|   null|               null|              0|
|      36|   202001|   null|               null|              0|
|      38|   201907|   null|               null|              0|
|      38|   201910|   null|               null|              0|
|      38|   202001|   null|               null|              0|
|      39|   201904|   null|               null|              0|
|      40|   201907|   null|               null|              0|
|      40|   201910|   null|               null|              0|
|      41|   201904|   null|               null|              0|
|      41|   202001|   null|               null|              0|
|      42|   201910|   null|               null|              0|
|      43|   201907|   null|               null|              0|
|      45|   201907|   null|               null|              0|
|      48|   201910|   null|               null|              0|
|      48|   202001|   null|               null|              0|
|      50|   202001|   null|               null|              0|
|      51|   201904|   null|               null|              0|
|      51|   201907|   null|               null|              0|
|      52|   201910|   null|               null|              0|
|      53|   201910|   null|               null|              0|
|      53|   202001|   null|               null|              0|
|      54|   201910|   null|               null|              0|
|      55|   201907|   null|               null|              0|
|      55|   202001|   null|               null|              0|
|      57|   201904|   null|               null|              0|
|      58|   201907|   null|               null|              0|
|      58|   201910|   null|               null|              0|
|      60|   201910|   null|               null|              0|
|      62|   201910|   null|               null|              0|
|      63|   201910|   null|               null|              0|
|      65|   201907|   null|               null|              0|
|      65|   202001|   null|               null|              0|
|      67|   201904|   null|               null|              0|
|      68|   201907|   null|               null|              0|
|      71|   201907|   null|               null|              0|
|      71|   201910|   null|               null|              0|
|      73|   202001|   null|               null|              0|
|      74|   201904|   null|               null|              0|
|      74|   201907|   null|               null|              0|
|      74|   202001|   null|               null|              0|
|      76|   201910|   null|               null|              0|
|      76|   202001|   null|               null|              0|
|      77|   201910|   null|               null|              0|
|      78|   201904|   null|               null|              0|
|      79|   201904|   null|               null|              0|
|      79|   201910|   null|               null|              0|
|      80|   202001|   null|               null|              0|
|      82|   201904|   null|               null|              0|
|      82|   201907|   null|               null|              0|
|      82|   202001|   null|               null|              0|
|      85|   201907|   null|               null|              0|
|      86|   202001|   null|               null|              0|
|      87|   201904|   null|               null|              0|
|      88|   201904|   null|               null|              0|
|      88|   201907|   null|               null|              0|
|      89|   201904|   null|               null|              0|
|      89|   201910|   null|               null|              0|
|      91|   201907|   null|               null|              0|
|      92|   201904|   null|               null|              0|
|      92|   201910|   null|               null|              0|
|      92|   202001|   null|               null|              0|
|      95|   201907|   null|               null|              0|
|      96|   201910|   null|               null|              0|
|      97|   201904|   null|               null|              0|
|      98|   201904|   null|               null|              0|
|      98|   201910|   null|               null|              0|
|      99|   201904|   null|               null|              0|
|      99|   201907|   null|               null|              0|
|      99|   201910|   null|               null|              0|
+--------+---------+-------+-------------------+---------------+
only showing top 100 rows

In [114]:
df_master_cible2.count()

3391764

In [115]:
df_filtered = df_master_cible2.filter(df_master_cible2.Churn_next_trim == 1)

In [116]:
df_filtered.show(100)

+--------+---------+-------+-------------------+---------------+
|Idclient|ANNEEMOIS|PERIODE|ANNEEMOIS_Fermeture|Churn_next_trim|
+--------+---------+-------+-------------------+---------------+
|    1107|   201910|      H|             201911|              1|
|    1322|   201910|      H|             201912|              1|
|    1586|   201910|      H|             201912|              1|
|    2819|   202001|      C|             202001|              1|
|    3196|   201910|      C|             201911|              1|
|    3932|   202001|      C|             202001|              1|
|    4344|   202001|      C|             202001|              1|
|    6202|   202001|      C|             202003|              1|
|    6745|   201910|      H|             201912|              1|
|    7347|   202001|      C|             202003|              1|
|    8024|   201910|      C|             201911|              1|
|   10604|   201910|      C|             201912|              1|
|   10737|   201910|      H|             201912|              1|
|   11189|   201910|      H|             201912|              1|
|   12727|   201910|      H|             201912|              1|
|   13023|   202001|      C|             202003|              1|
|   13068|   202001|      C|             202002|              1|
|   13836|   201910|      H|             201912|              1|
|   13849|   201910|      H|             201912|              1|
|   14296|   201910|      H|             201912|              1|
|   14915|   201910|      H|             201912|              1|
|   17216|   202001|      C|             202003|              1|
|   17825|   201910|      H|             201912|              1|
|   18103|   201907|      H|             201909|              1|
|   18502|   201904|      T|             201906|              1|
|   21059|   202001|      A|             202002|              1|
|   25741|   201910|      H|             201912|              1|
|   26182|   202001|      C|             202002|              1|
|   28121|   202001|      C|             202001|              1|
|   28678|   201904|      H|             201904|              1|
|   28786|   201910|      C|             201912|              1|
|   30430|   201910|      C|             201912|              1|
|   31723|   201910|      H|             201912|              1|
|   32370|   201910|      H|             201912|              1|
|   32816|   202001|      C|             202001|              1|
|   33241|   201910|      H|             201912|              1|
|   33937|   202001|      C|             202003|              1|
|   35020|   202001|      C|             202001|              1|
|   35248|   202001|      C|             202002|              1|
|   36987|   201910|      H|             201912|              1|
|   37532|   202001|      C|             202003|              1|
|   37628|   201910|      H|             201912|              1|
|   38329|   202001|      C|             202001|              1|
|   40028|   201910|      H|             201912|              1|
|   44230|   202001|      C|             202001|              1|
|   44461|   202001|      C|             202002|              1|
|   45738|   201910|      H|             201912|              1|
|   46723|   202001|      C|             202002|              1|
|   46912|   201910|      H|             201912|              1|
|   48243|   202001|      C|             202003|              1|
|   48559|   201910|      H|             201912|              1|
|   49139|   201910|      H|             201912|              1|
|   54006|   201910|      H|             201912|              1|
|   56193|   202001|      C|             202001|              1|
|   56391|   201910|      C|             201912|              1|
|   56978|   202001|      C|             202002|              1|
|   57297|   201910|      H|             201912|              1|
|   58678|   201910|      H|             201912|              1|
|   59176|   201910|      H|             201912|              1|
|   66017|   201910|      H|             201911|              1|
|   66024|   202001|      C|             202002|              1|
|   66024|   202001|      C|             202001|              1|
|   67755|   201910|      H|             201910|              1|
|   68550|   201910|      H|             201912|              1|
|   71271|   201910|      H|             201912|              1|
|   71719|   201910|      H|             201912|              1|
|   71775|   201910|      H|             201912|              1|
|   71833|   201910|      C|             201912|              1|
|   71842|   202001|      C|             202001|              1|
|   71950|   201910|      H|             201912|              1|
|   72194|   201910|      H|             201912|              1|
|   72517|   202001|      C|             202001|              1|
|   76624|   201910|      C|             201911|              1|
|   78715|   202001|      C|             202001|              1|
|   81869|   202001|      C|             202002|              1|
|   82328|   201910|      H|             201912|              1|
|   84914|   202001|      C|             202002|              1|
|   85148|   202001|      C|             202002|              1|
|   86776|   201910|      H|             201912|              1|
|   87640|   201910|      H|             201912|              1|
|   88013|   201910|      H|             201912|              1|
|   89220|   201910|      C|             201911|              1|
|   89811|   201910|      H|             201912|              1|
|   89864|   201910|      H|             201912|              1|
|   90006|   201910|      C|             201911|              1|
|   91753|   202001|      C|             202001|              1|
|   91816|   202001|      C|             202001|              1|
|   92279|   201910|      H|             201912|              1|
|   93518|   201910|      H|             201912|              1|
|   94480|   202001|      C|             202001|              1|
|   95845|   201910|      H|             201912|              1|
|   95869|   201910|      C|             201912|              1|
|   99743|   201910|      C|             201912|              1|
|  100020|   201910|      H|             201912|              1|
|  100983|   202001|      C|             202002|              1|
|  101166|   202001|      C|             202001|              1|
|  101170|   201910|      C|             201912|              1|
|  101875|   202001|      C|             202001|              1|
|  103673|   202001|      C|             202002|              1|
|  105918|   201910|      H|             201912|              1|
+--------+---------+-------+-------------------+---------------+
only showing top 100 rows

In [117]:
df_filtered.count()

3655

In [118]:
df_filtered2 = df_master_cible2.filter(df_master_cible2.Churn_next_trim == 1)

In [175]:
df_master_cible3 = df_master_cible2.select("Idclient","ANNEEMOIS","Churn_next_trim")

In [176]:
# df_master_cible3.show()

+--------+---------+---------------+
|Idclient|ANNEEMOIS|Churn_next_trim|
+--------+---------+---------------+
|       0|   201904|              0|
|       2|   201904|              0|
|       2|   201910|              0|
|       3|   201907|              0|
|       4|   201904|              0|
|       4|   201907|              0|
|       4|   201910|              0|
|       4|   202001|              0|
|       5|   201904|              0|
|       7|   201904|              0|
|       7|   201907|              0|
|       9|   201904|              0|
|      12|   201910|              0|
|      13|   202001|              0|
|      14|   201910|              0|
|      16|   201904|              0|
|      16|   201910|              0|
|      17|   202001|              0|
|      21|   201907|              0|
|      21|   201910|              0|
+--------+---------+---------------+
only showing top 20 rows

## Construction de la table master finale :

In [177]:
master_table = df_master12.join(df_master_cible3, on=['Idclient','ANNEEMOIS'], how='left')

In [178]:
# master_table.show()

+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+---------------+
|Idclient|ANNEEMOIS|   genre|MARITAL_STATUS|BPR|age|CUSTOMER_YEARS|AGE_GROUP|MEAN_SOLDE_PREVIOUS_MONTHS|MEAN_MVTDEB_PREVIOUS_MONTHS|MEAN_NBMVTDB_PREVIOUS_MONTHS|MEAN_MVTCRED_PREVIOUS_MONTHS|MEAN_NBMVTCRE_PREVIOUS_MONTHS|MEAN_MONTANTFACTURE|MEAN_MONTANTVIREMENT|MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS|MEAN_NBROPERATION_PREVIOUS_MONTHS|MEAN_MONTANT_GAB|MEAN_NUM_OPERATION_GAB|HasCreditYousr|CONNECTION|ACTIVE_RATIO|Connected recently|Churn_next_trim|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+---------------+
|       0|   201904| Féminin|      Marié(e)|  1| 64|            23|    55-64|                   1025.33|                    3452.73|                        9.33|                      2500.0|                          1.0|                0.0|                 0.0|                                1616.67|                             1.33|         2133.33|                  7.33|             0|      null|        null|                 0|              0|
|       2|   201904| Féminin|      Marié(e)|  1| 70|            45|      65+|                   5757.81|                     7097.8|                        2.67|                     4100.77|                          2.0|                0.0|                 0.0|                                 1800.0|                             1.67|         2666.67|                  3.33|             0|      null|        null|                 0|              0|
|       2|   201910| Féminin|      Marié(e)|  1| 70|            45|      65+|                   2044.72|                        0.0|                        2.33|                     1351.83|                         1.67|                0.0|                 0.0|                                 433.33|                             0.33|         3766.67|                  7.67|             0|      null|        null|                 0|              0|
|       3|   201907| Féminin|   Celibataire|  1| 51|            17|    45-54|                   -881.56|                      18.33|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|      null|        null|                 0|              0|
|       4|   201904|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    236.91|                     208.81|                        3.67|                       600.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|                  0.67|             0|      null|        null|                 0|              0|
|       4|   201907|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    210.51|                     475.47|                        5.33|                       800.0|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|          266.67|                  1.33|             0|      null|        null|                 0|              0|
|       4|   201910|Masculin|      Marié(e)|  1| 50|             6|    45-54|                     55.17|                      408.8|                         5.0|                       400.0|                         0.67|                0.0|                 0.0|                                    0.0|                              0.0|           200.0|                  1.33|             0|      null|        null|                 0|              0|
|       4|   202001|Masculin|      Marié(e)|  1| 50|             6|    45-54|                    143.16|                     1013.2|                        5.33|                      1000.0|                          1.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|      null|        null|                 0|              0|
|       5|   201904| Féminin|      Marié(e)|  1| 41|             9|    35-44|                   4211.08|                        0.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          3700.0|                   3.0|             1|         1|     0.10896|                 0|              0|
|       7|   201904| Féminin|   Celibataire|  1| 34|            12|    25-34|                   6265.32|                    5859.92|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|          1600.0|                  3.67|             0|         0|         1.0|                 0|              0|
|       7|   201907| Féminin|   Celibataire|  1| 34|            12|    25-34|                   5734.74|                    5293.04|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1933.33|                  2.33|             0|         0|         1.0|                 0|              0|
|       9|   201904|Masculin|   Celibataire|  1| 39|             3|    35-44|                   1006.83|                     1545.0|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 533.33|                             0.33|          866.67|                  2.67|             0|      null|        null|                 0|              0|
|      12|   201910|Masculin|   Celibataire|  1| 32|             9|    25-34|                  86661.48|                    2211.03|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -500.0|                             0.33|            null|                  null|             0|      null|        null|                 0|              0|
|      13|   202001|Masculin|   Celibataire|  1| 37|             6|    35-44|                   -777.28|                      38.01|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|                  null|             0|      null|        null|                 0|              0|
|      14|   201910| Féminin|      Marié(e)|  1| 35|             4|    35-44|                   2904.98|                    1047.07|                        3.33|                     2466.67|                         1.33|                0.0|                 0.0|                                    0.0|                              0.0|         1833.33|                  2.67|             0|      null|        null|                 0|              0|
|      16|   201904| Féminin|   Celibataire|  1| 25|             7|    25-34|                   9494.12|                    2692.93|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|         1966.67|                  2.33|             0|      null|        null|                 0|              0|
|      16|   201910| Féminin|   Celibataire|  1| 25|             7|    25-34|                    535.23|                     782.15|                         0.0|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|             0.0|                   0.0|             0|      null|        null|                 0|              0|
|      17|   202001| Féminin|   Celibataire|  1| 26|             7|    25-34|                   1646.97|                      12.67|                        0.67|                      1600.0|                          1.0|                0.0|                 0.0|                                 2400.0|                             1.33|         1366.67|                  5.33|             0|      null|        null|                 0|              0|
|      21|   201907|Masculin|      Marié(e)|  1| 43|             6|    35-44|                     82.63|                       11.0|                        1.33|                         0.0|                          0.0|                0.0|                 0.0|                                    0.0|                              0.0|            null|                  null|             0|      null|        null|                 0|              0|
|      21|   201910|Masculin|      Marié(e)|  1| 43|             6|    35-44|                       0.0|                        5.5|                         2.0|                         0.0|                          0.0|                0.0|                 0.0|                                 -66.67|                             0.33|            null|                  null|             0|      null|        null|                 0|              0|
+--------+---------+--------+--------------+---+---+--------------+---------+--------------------------+---------------------------+----------------------------+----------------------------+-----------------------------+-------------------+--------------------+---------------------------------------+---------------------------------+----------------+----------------------+--------------+----------+------------+------------------+---------------+
only showing top 20 rows

In [182]:
master_table2 = master_table.fillna({"AGE_GROUP": 45-54 })

In [ ]:
master_table3 = master_table2.fillna({"MEAN_SOLDE_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MVTDEB_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_NBMVTDB_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MVTCRED_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MONTANTFACTURE": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MONTANTVIREMENT": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_NBROPERATION_PREVIOUS_MONTHS": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_MONTANT_GAB": 0 })

In [ ]:
master_table3 = master_table3.fillna({"MEAN_NUM_OPERATION_GAB": 0 })

In [ ]:
master_table3 = master_table3.fillna({"HasCreditYousr": 0 })

In [ ]:
master_table3 = master_table3.fillna({"CONNECTION": 0 })

In [ ]:
master_table3 = master_table3.fillna({"ACTIVE_RATIO": 1 })

In [ ]:
master_table3 = master_table3.fillna({"Connected recently": 1 })

In [212]:
master_table4 = master_table3.withColumnRenamed("MEAN_SOLDE_PREVIOUS_MONTHS","SOLDE")

In [213]:
master_table4 = master_table4.withColumnRenamed("MEAN_MVTDEB_PREVIOUS_MONTHS","MVTDEB")

In [214]:
master_table4 = master_table4.withColumnRenamed("MEAN_NBMVTDB_PREVIOUS_MONTHS","NBMVTDB")

In [215]:
master_table4 = master_table4.withColumnRenamed("MEAN_MVTCRED_PREVIOUS_MONTHS","MVTCRED")

In [216]:
master_table4 = master_table4.withColumnRenamed("MEAN_NBMVTCRE_PREVIOUS_MONTHS","NBMVTCRE")

In [217]:
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANTFACTURE","MONTANTFACTURE")

In [218]:
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANTVIREMENT","MONTANTVIREMENT")

In [219]:
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANT_OPERATIONS_PREVIOUS_MONTHS","MONTANTOPERATIONS")

In [220]:
master_table4 = master_table4.withColumnRenamed("MEAN_NBROPERATION_PREVIOUS_MONTHS","NBROPERATION")

In [221]:
master_table4 = master_table4.withColumnRenamed("MEAN_MONTANT_GAB","MONTANTGAB")

In [222]:
master_table4 = master_table4.withColumnRenamed("MEAN_NUM_OPERATION_GAB","NBROPERATIONGAB")

In [223]:
master_table4 = master_table4.withColumnRenamed("CONNECTION","ALREADY CONNECTED")

In [224]:
master_table4 = master_table4.withColumnRenamed("Connected recently","CONNECTED RECENTLY")

In [229]:
master_table4.describe().show()

+-------+-----------------+-----------------+--------+--------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+
|summary|         Idclient|        ANNEEMOIS|   genre|MARITAL_STATUS|              BPR|               age|    CUSTOMER_YEARS|AGE_GROUP|             SOLDE|           MVTDEB|           NBMVTDB|          MVTCRED|          NBMVTCRE|    MONTANTFACTURE|   MONTANTVIREMENT|  MONTANTOPERATIONS|       NBROPERATION|        MONTANTGAB|   NBROPERATIONGAB|      HasCreditYousr|   ALREADY CONNECTED|      ACTIVE_RATIO|  CONNECTED RECENTLY|     Churn_next_trim|
+-------+-----------------+-----------------+--------+--------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+
|  count|          3392620|          3392620| 3392620|       3392620|          3392620|           3392620|           3392620|  3392620|           3392620|          3392620|           3392620|          3392620|           3392620|           3392620|           3392620|            3392620|            3392620|           3392620|           3392620|             3392620|             3392620|            211084|             3392620|             3392620|
|   mean|499881.9448473451|         201930.5|    null|          null|57.14686908642878| 44.94038589644582|10.210657250148852|     -9.0| 19615.52397606812|5793.069240939736|2.9071045445708035|4348.725069182447| 0.603426437384635|6.9504540856329315| 57.02835213492813|-197.12495357570273|0.48196854348522894|1508.3525145285776|2.5222324015068187|0.045807664872576356|0.012445838319646763|0.8659518680714823|0.003099669282147...|0.001077633215626...|
| stddev|288558.2782475915|40.75844071681278|    null|          null|28.11025908691942|15.431427414455303| 8.628036641562371|      0.0|181781.15535315606| 82931.0121778811| 5.371366044490821|79291.62570824054|2.5044988247593323|2196.0362096008075|1088.9349034849015|  37482.96786248798|  2.855286201059264| 18818.51423399616|  4.66363572888475| 0.20906777751521224| 0.11086452566540325| 0.295520534365465| 0.05558832830107305| 0.03280963638289298|
|    min|                0|           201904| Féminin|   Celibataire|                1|                 0|                -3|       -9|    -4.601819028E7|              0.0|               0.0|              0.0|               0.0|               0.0|               0.0|     -2.166730167E7|                0.0|               0.0|               0.0|                   0|                   0|               0.0|                   0|                   0|
|    max|           999999|           202001|Masculin|     Veuf (ve)|               90|                91|                60|      65+|     5.898046565E7|    3.667073413E7|            2379.0|    6.874707753E7|           2383.67|        1835376.67|          330437.0|              2.0E7|            1573.33|     2.963219629E7|            139.67|                   1|                   1|               1.0|                   1|                   1|
+-------+-----------------+-----------------+--------+--------------+-----------------+------------------+------------------+---------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+--------------------+--------------------+------------------+--------------------+--------------------+

In [230]:
# master_table4.coalesce(1).write.format('csv').option('header',True).option('sep',',').mode('overwrite').save(r'C:\Users\DELL XPS\Desktop\data\new\Master Table\master table')